[2016-02-06 23:35] kolewu opened #9 "use ack (or another search utility) instead of grep"
There are now far better alternatives to searching with grep, that now about files to ignore like the `.git` repository and how to find the root of a project.

- [Beyond grep: ack 2.14, a source code search tool for programmers](http://beyondgrep.com/)
- [The Silver Searcher](http://geoff.greer.fm/ag/) a lot faster than ack
- [sift - a fast and powerful alternative to grep](https://sift-tool.org/)

[2016-02-07 00:20] jacktasia commented on #9
Thanks. I do plan on adding support for other search programs and I am aware of the alternatives. The reason I did not support a better searcher initially is because they are not installed on most systems by default and this is a barrier to "just working".

Right now my plan is to add support for `ag` because it seems like it's the fastest one that is in all the common package managers, but please

[2016-02-08 18:34] jacktasia commented on #9
Hi @kolewu

Yesterday I added support for the silver searcher (`ag`). Dumb Jump will now default to using `ag` if it's available and then fallback to using `grep` if it must. In my tests, it's way faster, particularly when jumping through emacs .el.gz source code. If you get a chance to try it, please let me know.

[2016-02-09 09:18] user471 opened #10 "Quick look at the difinition"
Sometime you just want to look at the definition without jumping and automatically close after that. So, something like `dumb-jump-quick-look` could open unfocused window which would be automatically closed after pressing any key.

[2016-02-09 18:26] jacktasia commented on #9
Closing this for now since `ag` support is now in place. Feel free to re-open and/or comment if you have any feedback. Thanks!

[2016-02-09 18:26] #9 closed

[2016-02-09 18:28] jacktasia commented on #10
Thanks for the feedback! This is a great idea. I will leave this open until I have time to implement, but PRs are of course welcome.

[2016-02-10 07:53] Silex opened #12 "Ruby support?"
Hello,

how difficult would it be to support Ruby? maybe simply copy-paste adapt python support?

[2016-02-10 19:06] jacktasia commented on #12
Theoretically, it should be pretty easy.

Yeah, this is probably how I would start. Now that there's interest in Ruby I will look at the popular Ruby repos on GitHub and see what I can get working tonight after work.

Thanks for bringing this up!

[2016-02-11 05:28] #12 closed

[2016-02-11 07:05] Silex commented on #12
Fantastic :+1:  Thanks!

[2016-02-11 21:26] kolewu commented on #9
Thank you for this quick implementation.  Now I'm waiting for a project where I can benefit from this package ;-)

[2016-02-12 10:29] Silex opened #13 "ag: unrecognized option '--vimgrep'"
Hello,

I'm curious about why you call `ag` directly instead of leveraging https://github.com/Wilfred/ag.el ?

Anyway, I suffer from the same bug as https://github.com/Wilfred/ag.el/commit/cd8931997989c5401a153e028bac4bd14ca27f6e

Namely that the default `ag` installation on ubuntu doesn't support `--vimgrep`.

Maybe it's too much work to rewrite using `ag.el`, in which case I'll upgrade my ag ins

[2016-02-12 18:44] jacktasia commented on #13
Thanks for reporting this! I wrongly assumed that `--vimgrep` wasn't a recent addition. I will look into adding support for `ag` installations that do not have `--vimgrep` tonight either via `ag.el` or `--nocolor`...and at the very least warn the user to upgrade their `ag`.

Thanks again.

[2016-02-12 22:38] #13 closed

[2016-02-17 07:41] Silex commented on #13
:+1:

[2016-02-23 05:52] #10 closed

[2016-02-23 17:56] user471 opened #15 "Wrong type argument: stringp, nil"
`dumb-jump-go` has an error `Wrong type argument: stringp, nil`
Does it need the latest version of ag?
I use version 0.29.1

[2016-02-23 20:04] jacktasia commented on #15
Thanks for reporting this. I've been unable to reproduce this so far. What's under point when you try `dumb-jump-go`? Also, what is the extension of the file you're trying to jump from? If there's anything else you can provide it will help me track down what's happening. For instance, an open source project where you're seeing this error when you try to jump. Thanks!

[2016-02-23 20:51] jacktasia commented on #15
Sorry, it shouldn't need a specific version. It only needs `--nocolor` and `--nogroup`. I have a feeling it's something related to what's under point, the file, or a dependency issue. The first two was what I was trying to eliminate with my first response above.

Do you always get this error when you try to jump or only under certain cases?

[2016-02-24 05:47] user471 commented on #15
I replace `'` with `"` here
[code]
It starts working. But on Windows paths look like this
[code]
so the parsing result is
![path](https://cloud.githubusercontent.com/assets/5988253/13276692/00508c9c-dad3-11e5-9990-77cb8f592c06.png)
I guess the problem is
[code]

[2016-02-24 18:38] jacktasia commented on #15
Thanks so much for expanding on the issue. I am guessing the Windows part of this is the main issue since I've never tested Dump Jump in windows at all :disappointed:. Tonight I'll try spinning up a Windows VM and try to get things working correctly on Windows.

[2016-02-29 17:58] jacktasia commented on #15
Sorry took longer than expected to get Windows all setup. It's working for me in Windows with `ag` now. Please give it another try when you have a moment and let me know how it goes. Thanks!

[2016-02-29 18:06] user471 commented on #15
It works, thanks.

[2016-02-29 18:24] #15 closed

[2016-03-18 21:00] kostajh opened #16 "Support a few more file extensions for PHP"
Would be great if PHP support would be enabled for the following file extensions used by Drupal:

- .module
- .install
- .test
- .profile
- .theme
- .inc

See https://github.com/arnested/drupal-mode/blob/b4a66092bddc471884b2746d69fd7e8853b4b79f/drupal-mode.el#L916 for reference

[2016-03-18 21:12] jacktasia commented on #16
Thanks for bringing this up. I would like to support this but my only concern is mapping seemingly generic extensions directly to PHP. I am leaning towards a solution where if an extension explicitly supported it falls back to using the current major mode somehow. Let me think about this a little bit and I will try to commit something tonight or tomorrow to handle this case. Thanks!

[2016-03-19 04:53] #16 closed

[2016-03-19 04:58] jacktasia commented on #16
Hi @kostajh

I pushed something up that should fix this. I cloned a drupal project and was able to jump from arbitrary file extensions when I was in `drupal-mode` (`php` major-mode). Please give it a try and report back when you get a chance (and re-open if there's an issue). Please note it may take up to 12 hours for this to be available via MELPA.

Thanks again for reporting this and please don'

[2016-03-19 15:24] kostajh commented on #16
Cool, I'll try it out! Thanks.

[2016-04-20 17:21] jacktasia opened #17 "Support pt as a seacher"
via [emacs subreddit](https://www.reddit.com/r/emacs/comments/4flzdn/dumb_jump_since_last_post_can_use_ag_way_faster/d2a488u)

[2016-04-21 08:44] HeroInNoMan opened #18 "Customizable key bindings?"
Hello,

"C-M-p" is already used by (backward-list), a pretty useful command. Would it be possible to let the key-bindings to the user or at least make them customizable, so that (dumb-jump-back) could be bound somewhere else?

Anyhow, thank you for this great package!

[2016-04-21 19:15] jacktasia commented on #18
Absolutely. The easiest thing would be to just _not_ use `(dumb-jump-mode)`. All this mode does is activate the `dumb-jump-mode-map` with default bindings.

So instead just do something like this in your `~/.emacs`:
[code]

The `interactive` functions are: `dumb-jump-go` `dumb-jump-back` `dumb-jump-quick-look`

Alternatively, you could do [something like this](http://ergoemacs.org/emacs/reclaim_ke

[2016-04-21 19:15] #18 closed

[2016-04-21 21:09] HeroInNoMan commented on #18
Great, thanks a lot. I just removed (dumb-jump-mode) from my config and added the desired key-bindings, works perfectly.
Thank you for the quick answer!

[2016-04-25 13:53] jordonbiondo opened #19 "ES6 arrow functions and methods."
Dumb jump currently wont find arrow function definitions or methods in javascript. Ideally it would be able to find `funcName` when defined in a way below;

[code]

[2016-04-25 17:58] jacktasia commented on #19
Thanks for reporting this. I totally agree, and I will look into supporting this tonight after work. The first two,  at least, should be easy to support.

[2016-04-26 05:56] #19 closed

[2016-04-26 06:06] jacktasia commented on #19
@jordonbiondo

ES6 functions should now work.  Please re-open this issue if it doesn't work as expected.

It may take up to 12 hours for this update to be available via MELPA. In MELPA Stable, it will be `0.3.9`.

Thanks again for the feedback and please let me know if you have more.

[2016-04-26 12:38] jordonbiondo commented on #19
Appears to work as desired, thanks!

[2016-04-26 15:47] jordonbiondo opened #22 "ES6 classes"
Given the following scenario:
[code]

Dumb jump will find the definition of `MyClass` if it defined as follows:

[code]

But it will not find the definition of `MyClass` if it defined using ES6 classes.

[code]

I don't think jumping to the `constructor` would be necessary but it would be nice. IMO, jumping to `class MyClass {` would suffice.

[2016-04-26 17:31] jacktasia commented on #22
Thanks for the report! This should be really easy for me to add. I'll take a stab at it tonight after work.

[2016-04-27 06:01] #22 closed

[2016-04-27 06:16] jacktasia opened #23 "Add `:supports` property to rules"
So we can set which search program (`ag` or  `grep`) the rule supports. Stopping the need for a rule to support `grep` too, which often makes the regex way more complicated. Also opens the door to support other searchers like `pt` in interesting ways.

[2016-04-28 02:43] adouzzy opened #24 "Please support R"

[2016-04-28 03:39] jacktasia commented on #24
Hi @adouzzy

Thanks for the suggestion! I want to support as many languages as possible. I don't know R at all, but it looks it would be pretty easy to provide basic support. If you have a good R repo to test against, please let me know. If not, I think I'll be looking off of this one: https://github.com/twitter/AnomalyDetection

Thanks again!

[2016-04-28 06:10] #24 closed

[2016-04-28 06:14] jacktasia commented on #24
Hi @adouzzy

I've added basic R support. It seems to work correctly moving around the [AnomalyDetection](https://github.com/twitter/AnomalyDetection) repo.

Please open a new issue if you run into any problems. This release should be available in MELPA within 12 hours.

Thanks again for the suggestion!

[2016-05-01 13:03] adouzzy opened #25 "Save before jump"
Just wondering why is this necessary. It's not very convenient.

[2016-05-01 17:16] jacktasia commented on #25
It's necessary because `ag`/`grep` search saved files. If you've changed a file a lot and try to jump then you could very well jump to an old position, which is extremely confusing and makes dumb-jump seem broken.

[2016-05-01 17:16] #25 closed

[2016-05-26 18:59] caldwell opened #26 "Trouble with Emacs 24.3 on Ubuntu 14.04"
I installed from MEPLA (version `20160427`) and get this error when I try to `dumb-jump-go` in some Go source code:

    dumb-jump-fetch-results: Wrong number of arguments: #[(thing) "^HÂN\203^K^@^HÂN \207Ã^H!\211^Y\205^X^@  @       A{)\207" [thing bounds thing-at-point bounds-of-thing-at-point] 3 ("/usr/share/emacs/24.3/lisp/thingatpt.elc" . 2294)], 2

I'm using the `emacs24-nox` package, version

[2016-05-26 19:16] tylerhsu commented on #26
I have the same issue, same emacs version, same ubuntu version.

[2016-05-26 19:18] zsoltika opened #27 "Please add support to PL/SQL procedures and packages"
In the same (projectile) directory tree.

Would be great to jump to `package_name.procedure_name` or `package_name.function_name`, and `package_name.constant_name`, where `package_name` is usually a `package_name.(prc|pks|sql)` file in the actual project directory tree.

[2016-05-26 19:30] mck- opened #28 "Support for CoffeeScript would be nice"

[2016-05-26 19:43] astoeckley opened #29 "Add C++ support"
Would love to try this plugin on C++!

[2016-05-26 19:59] omouse opened #30 "question: why not TAGS?"
it would be helpful to me to know why I should use dumb-jump instead of TAGS. Personally, I generated TAGS files but what was missing was I couldn't just jump to the definition of a Rails function or the class that I was using in a Node project.

It might be helpful for others to compare and contrast the difference between using TAGS and dumb-jump.

[2016-05-26 20:00] omouse opened #31 "Missing LICENSE or COPYING"
GPL v3 license? or MIT or?

[2016-05-26 20:56] ecuzzillo opened #32 "Add C# support"
Would use it if it had it.

[2016-05-26 21:10] jacktasia commented on #31
Good question. I am leaning towards MIT, but I am open to suggestions. Do you have any particular thoughts on this?

[2016-05-26 21:16] jacktasia commented on #30
My understanding is that TAGS takes a non trivial amount of time to setup for a project and it needs to stay up-to-date. So for this reason TAGS was never an attractive option for me. I wanted something with basic functionality that "just worked" for new projects.

If I am wrong about the above -- or it doesn't apply to you -- and you're happy with TAGS then I am not sure there's any advantage to

[2016-05-26 21:16] #30 closed

[2016-05-26 21:21] jacktasia commented on #29
Thanks for opening this. I definitely want to support C++. I just don't have much experience with it. You may want to follow this PR: https://github.com/jacktasia/dumb-jump/pull/20 If his fork works for you with `ag` then I'll prioritize the plan I mention there.

[2016-05-26 21:24] jacktasia commented on #26
Thanks for reporting this. I only run tests for `24.4` and `24.5` so I am guessing this is related to the old version you're using. I'll update the package to reflect the supported versions.

[2016-05-26 21:27] jacktasia commented on #32
Thanks for opening this. I don't really have any C# experience. Is there a good C# project I should test against?

[2016-05-26 21:29] ecuzzillo commented on #32
Well I work at Unity and want to use it on the Unity engine itself, which is huge and proprietary, but also most Unity projects use C#.

[2016-05-26 21:29] ecuzzillo commented on #32
Maybe use one of the example projects?

[2016-05-27 02:49] caldwell commented on #26
I was able to hack it into working by removing the 3rd argument (`'t`) to the 2 `thing-at-point` calls in `dumb-jump-fetch-results`.

[2016-05-27 03:19] catern opened #34 "Use git grep when available"
git grep should be faster than both ag and grep, when it is available.

[2016-05-27 04:48] prenaux commented on #17
Did someone try whether that works out of the box?

[2016-05-27 09:00] nxnfufunezn opened #35 "Add rustlang support"
It would be great to have rust support

[2016-05-27 09:24] cweiske opened #36 "Manually set project root"
dumb-jump uses the first project root indicator file it finds to set the project root to its containing directory.

This approach does not work for complex projects in which multiple git checkouts are used:

[code]

When using `dumb-jump` on a file in `php-typo3-project/typo3conf/ext/extension/src/Foo.php`, it finds `php-typo3-project/typo3conf/ext/extension/` as project root.
I'd rather want to h

[2016-05-27 10:41] cweiske opened #37 ""Symbol's function definition is void: s-matched-positions-all""
I'm getting this error when running `dumb-jump-go` on a PHP function.
What does it mean?

----

ubuntu linux 16.04, emacs 24.5.1, dumb-jump 0.3.9

[2016-05-27 11:05] ejlo opened #38 "Extensions for clojure variants"
Please add the extensions for commonly used variants of clojure: .cljs and .cljc.

[2016-05-27 14:13] poppingtonic commented on #37
@cweiske It seems that you need a package called [`s`](https://github.com/magnars/s.el). However, after running `C-M-g` on a Python function call, I still get the same issue. I deleted dumb-jump, installed `s`, then reinstalled dumb-jump, by running `M-x package-list-packages` and selecting the latest versions of each. I still get this problem. I'm running Ubuntu 14.04, and emacs 24.5.1, and dumb-

[2016-05-27 17:35] jacktasia commented on #17
@prenaux When I first saw this request on reddit. I did try to just replace `ag` with `pt`, but it did not work. So it seems like `pt` will need a custom command generator and parser.

[2016-05-27 17:45] jacktasia commented on #37
@cweiske @poppingtonic `s-matched-positions-all` is a rather new addition to `s`. So you almost certainly have an old version of `s` loading.

You can upgrade your packages (and remove old versions) by doing `M-x` `package-list-packages` then pressing `U` (Shift-u to make packages for upgrade) then pressing `x` (to actually start the upgrade) and then following the prompts it gives you. Should be

[2016-05-27 17:49] jacktasia commented on #36
Thanks for opening this. This is a great point. I will take a look at this over the weekend.

I think the easiest solution would be if we had a file called like `.dumbjumpignore` that was put in every directory that could mistakenly be treated as the project root. Any thoughts or concerns with this?

[2016-05-27 17:50] jacktasia commented on #38
Thanks for reporting this. I will add this into the next release for sure.

[2016-05-27 17:51] jacktasia commented on #34
Thanks for opening this. This is a really good point. I will definitely look into this.

[2016-05-27 17:54] jacktasia commented on #26
@caldwell Thanks for looking into this. I should be able to use this info to pretty easily support `24.3` too. I will look into it this weekend. Thanks again.

[2016-05-28 22:43] axyz opened #41 "React Components"
First of all this is really an amazing job.
On javascript code it works really well also on medium/big repositories. One thing that do not work well however are React components. usually they are just exported as normal classes (or functions or variables...) and the only unusual thing is that they appear in jsx code (e.g. <Component .... />)

Do you think would be hard to make them works, what imp

[2016-05-30 03:07] redshirtrob commented on #31
GPLv3. While I see the allure of releasing under MIT/BSD/Apache for libraries and frameworks that may get embedded in larger projects, I don't think that's likely for Emacs packages.

In these cases, I lean towards the platform's preferred license.

[2016-05-30 18:43] #31 closed

[2016-05-30 18:46] jacktasia commented on #31
@redshirtrob That makes sense to me. Done. Thanks!

[2016-05-30 18:50] jacktasia commented on #41
Thanks for the kind words and bringing this up. I _think_ this will be pretty easy for me to do. I am using a lot of React myself recently, so I want this too. I'll update this issue with my progress.

[2016-05-30 18:53] #38 closed

[2016-05-30 18:54] jacktasia commented on #38
@ejlo Done now. This update should be available via MELPA within ~12 hours. Thanks again for reporting this.

[2016-05-30 19:12] axyz commented on #41
great, thank you. Looking forward for it

[2016-05-30 22:17] jacktasia commented on #41
So I got this working locally for React for the vast majority of my React code:

1.  `class MyComponent extends Component { ...` used like `<MyComponent someProp={1}>...</MyComponent>`

2. `const mySomething = <div>...</div>;` used like `<div>{mySomething}</div>`

That covers the vast majority of my current React code. Is there any usage I am missing that I should support? If so, a code snippet or

[2016-05-31 07:27] axyz commented on #41
I use a lot of stateless components in function form so something like:

[code]
but may also be
[code]

or more exotic stuff like
[code]

basically any function may be a component, so stuff like `<MyComponent>` should be search for source in the whole function scope.

If this leads to problems in the results you can somehow restrict to functions that returns jsx code or React.createElement, but it

[2016-05-31 19:28] #41 closed

[2016-05-31 19:31] jacktasia commented on #41
@axyz I just pushed up a change that should cover most, if not all, of these cases. It should be available via MELPA within 12 hours of now. Please re-open this issue if you run into any problems. Thanks again!

[2016-05-31 21:05] jacktasia commented on #37
Please re-open this issue, or make a new comment here, if the solution I mentioned above does not work for you. Thanks!

[2016-05-31 21:05] #37 closed

[2016-06-01 15:42] wiruzx opened #43 "Add Swift support"

[2016-06-01 15:42] wiruzx opened #44 "Add Objective-C support"

[2016-06-07 06:27] #23 closed

[2016-06-07 22:34] vxe opened #50 "Add Perl support"

[2016-06-09 03:28] ryanwinchester opened #51 "Want to jump to method definition but getting all variables as results [PHP]"
### Using PHP

- It would be nice if methods and variables were not mixed in search results.
- It would also be nice to jump to the method definition if using C-M-g on a method usage.

I don't know, but maybe it could include open parentheses and `$` in regex (or whatever is used to search) to distinguish methods from variables?

Also searching for `usage` vs `definition` would be pretty cool.

e.

[2016-06-09 03:37] jacktasia commented on #51
Thanks for reporting this! I think this should be pretty easy to (mostly) fix by [defining some language contexts](https://github.com/jacktasia/dumb-jump/blob/master/dumb-jump.el#L367) for PHP. I'll try to add in some for PHP tonight or tomorrow.

[2016-06-09 05:00] jacktasia commented on #51
@ryanwinchester

In the short term adding this to your config should improve finding PHP functions depending on the context:
[code]

If you run into other cases, please report back here and I will try to handle them too. I will add at least this one to the next release.

It's certainly something I would like to support, but it would probably require another set of rules for each language.  Please

[2016-06-09 20:25] jacktasia commented on #26
24.3 should work now with #52. It will take a few hours to be available via MELPA.

@caldwell Thanks again for bringing this up and all your work on emacsformacosx.com!

[2016-06-09 20:25] #26 closed

[2016-06-09 23:40] ryanwinchester commented on #51
Works way better:

![](https://s3-us-west-2.amazonaws.com/ryanwinchester/screenshots/dumb-jump-method.gif)

[2016-06-10 00:01] jacktasia commented on #51
Awesome! Thanks for the update. Please let me know if you run into any other context issues like this.

[2016-06-10 05:47] #51 closed

[2016-06-10 19:23] ryanwinchester opened #53 "Jump from function usage to definition and vice versa [PHP examples]"
# PHP examples

### definitions:

[code]

### usages:

[code]

## Explanation

If I am on a usage, I'd like to jump to the definition. e.g. [possible regex](https://regex101.com/r/yD0zS1/1):

[code]

If I have the cursor on the definition I'd like to jump to usages. e.g. [possible regex](https://regex101.com/r/jG5pL0/1):

[code]

[2016-06-10 19:48] jacktasia commented on #53
Excellent, thanks for opening this! I will try to get a system to support jumping to usages soon.

[2016-06-10 19:54] ryanwinchester commented on #53
@jacktasia cool.

In my opinion, it's not nearly as important as going from usage to definition, which it currently does, so I wouldn't say this is a critical feature, but still useful.

[2016-06-23 20:06] 4d47 opened #54 "PHP is missing class, trait and interface"

[2016-07-01 06:44] zenspider opened #55 "Not usable in shell"
I'll often be investigating things inside an emacs shell. Either running tests or grepping around or whatever. From there I'd like to be able to put point on a symbol and invoke dumb-jump. But because the buffer is in shell-mode, it fails out. It'd be nice to be able to set a "default language" or something to let it at least attempt a jump.

[2016-07-01 18:36] jacktasia commented on #55
Thanks for the report. So we also need to know the project directory to search. One idea would be if a buffer is `*eshell*`(?) we somehow deduce the project path (via `cwd`?) and either get the language from the `.dumbjump` file in that project dir or by prompting the user with a list of languages. Thoughts?

[2016-07-01 21:01] zenspider commented on #55
On July 1, 2016 at 11:36:39, Jack Angers (notifications@github.com) wrote:

I use regular `M-x shell`, not eshell. But you can always use `default-directory` no matter what shell / buffer / mode you’re in.

[2016-07-01 21:24] jacktasia commented on #55
Great point. I've thought this over a bit, and I think I can add support for this pretty easily. I will try to get something working over the weekend.

I am thinking of trying to determine the programming language automatically by the contents of the shell buffer, because if you're jumping from like a stacktrace, it will almost certainly reference files with their extension.

[2016-07-01 21:57] zenspider commented on #55
I would be happy to put something in a directory local variable too.

[2016-07-05 23:02] #35 closed

[2016-07-05 23:05] #55 closed

[2016-07-06 22:00] jacktasia commented on #55
@zenspider This should be available via MELPA now. Please open a new issue if you have any issues or  have other ideas. Thanks again!

[2016-07-08 18:04] jacktasia commented on #51
@ryanwinchester If you don't mind me asking: what are you using to make the GIF you have above?

[2016-07-08 19:56] ryanwinchester commented on #51
@jacktasia [LICEcap](http://www.cockos.com/licecap/)

[2016-07-08 20:55] jacktasia commented on #51
@ryanwinchester Awesome, thanks!

[2016-07-11 13:53] magnetophon opened #60 "faust definition is sometimes not found"
A while ago I added faust to the supported languages.

Sometimes dumb-jump finds multiple definitions  ( which is to be expected), without the correct one included.

Unfortunately, I have not yet been able to find out under which conditions this happens.

[2016-07-11 17:42] jacktasia commented on #60
Thanks for reporting this. If you can provide an example file(s) that illustrates this issue then I would be more than happy to take a look and try to fix it.

[2016-07-11 19:10] magnetophon commented on #60
Great, thanks!

[code]

[2016-07-11 19:10] magnetophon commented on #60
Great, thanks!

[code]

[2016-07-12 01:36] #60 closed

[2016-07-12 01:38] jacktasia commented on #60
This will be available via MELPA in ~12 hours. Please re-open if you notice an issue, but my fix worked for your example.

[2016-07-12 04:42] jacktasia commented on #55
@zenspider Have you had a chance to try this yet? I am curious if it works well for you or not. Thanks.

[2016-07-12 04:46] jacktasia commented on #60
Looks like it's on MELPA now.

[2016-07-12 08:45] magnetophon commented on #60
Many thanks!

[2016-07-13 04:33] jonboiser commented on #28
Is there a general strategy for adding a new language? I was reading through the code and it looks like you just add a handful of plists for different symbol types in `dumb-jump-find-rules`, then some other variables in the other `defcustoms`.

Do you think you could give a brief checklist of what needs to be done? I can give it a try with coffeescript and write it up as a guide for contributors.

[2016-07-13 05:32] jacktasia commented on #28
@jonboiser

Yes, multiple languages have been added via PR. Some good examples are [lua](https://github.com/jacktasia/dumb-jump/pull/33) and [rust](https://github.com/jacktasia/dumb-jump/pull/57) I've been meaning to [add this to the README](https://github.com/jacktasia/dumb-jump/commit/513a432569a26e10a954ca274b2aa0baeaaed656). Thanks for reminding me. Please let me know if I can help with adding

[2016-07-16 00:40] #28 closed

[2016-07-22 01:53] rubikitch opened #63 "Fall back to symbol search."
I use your dumb-jump and very happy with it!
But sometimes dumb-jump cannot find definitions, for example, functions defined by DSL.
In Emacs Lisp, dumb-jump cannot find `dumb-jump-mode` because it is defined by `define-minor-mode`.

[code]

I propose that dumb-jump should fall back to symbol search if it cannot find definitions.
Although dumb-jump produces many candidates in popup-menu, but I thi

[2016-07-22 04:21] jacktasia commented on #63
Thanks for the message. This is a really good idea. It should also be pretty easy to implement. Give me a day or two and I'll see what I can do. Thanks again!

[2016-07-22 04:58] rubikitch commented on #29
FYI, check out `exuberant-ctags` and browse `c.c`.
This file supports C/C++/C#/Java/Vera.

[2016-07-29 06:02] OldhamMade opened #64 "Add option to set search scope as the first parent dir containing a VCS settings directory"
Setting `(setq dumb-limit-to-vcs-project t)` and "jumping" within a file would search back up the directory tree, looking within each parent directory successively for a VCS settings directory (e.g. `.git`, `.svn`, etc), until reaching the main project directory defined by `dumb-jump-default-project`. If such a settings directory is found, this directory would be used as the "project" directory wh

[2016-07-29 18:41] jacktasia commented on #64
Thanks for the message. Just to confirm I understand what you're saying. This proposed setting, when enabled, would use the shallowest VCS directory instead of the deepest? So right now as it walks up the tree, it stops and uses the first VCS directory it finds. In other words, you're saying it should keep going up until it finds `dump-jump-default-project` and use the last VCS directory it found?

[2016-08-03 00:50] indigoviolet opened #66 "Use region when there is a selection?"
http://ergoemacs.org/emacs/elisp_thing-at-point_problems.html

[2016-08-03 00:52] jacktasia commented on #66
Interesting. Have you actually run into any problems because of this behavior? I have not and this is the first I've heard about it.

[2016-08-03 01:15] jacktasia commented on #66
Can you provide a reproducible example of your issue? I don't follow. My guess is you want to jump based on the selection instead of what's under point, which may be a good idea if you had a good example. Thanks!

[2016-08-03 18:14] indigoviolet commented on #66
Yeah, in Ruby code: if you have

```x = Foo::BAR```

and you want to visit the module or class `Foo`, `thing-at-point` will return the entire thing (at least it does for me). Using the selection is a nice escape hatch.

[2016-08-03 18:24] jacktasia commented on #66
Gotcha, thanks for the example! I'll look into this shortly.

[2016-08-06 00:01] seanfarley opened #67 "Add location to find-tag"
I can make a PR for this but wanted to check if I was overlooking a design choice. When I jump to a definition, I find myself typing `M-*` to jump back to my previous location. Is there a reason why you don't have `(ring-insert find-tag-marker-ring (point-marker))` in the jump-go function?

[2016-08-06 00:16] jacktasia commented on #67
There is `dumb-jump-back` already although that won't help you with your muscle memory. I honestly didn't know about the marker system when I first made dumb-jump, and when I first learned about it, I was unclear what the best practices were.

I am open to the idea of adding it in if others agree. Although in the short term adding the code below to init file should provide the functionality you ne

[2016-08-06 00:30] seanfarley commented on #67
Yeah, that's effectively what I've done locally. I don't see any downside but I can live with the local monkey patch and see if there's any problems.

[2016-08-06 04:41] #67 closed

[2016-08-06 04:46] #63 closed

[2016-08-06 18:45] jacktasia commented on #67
@seanfarley I looked into it further, and I think you're correct. So I went ahead and added it in. If you update via MELPA, you should be able to remove your local patch. Thanks for bringing this up!

[2016-08-06 18:46] jacktasia commented on #63
@rubikitch This is available via MELPA now. Please let me know if you have any feedback. Thanks again!

[2016-08-06 23:09] seanfarley commented on #67
Awesome, thanks!

[2016-08-07 00:30] Kwarrtz opened #70 "Add Haskell Support"

[2016-08-07 03:59] rubikitch commented on #63
Thanks! It works fine.
I blogged it in Japanse.
http://rubikitch.com/2016/08/07/dumb-jump-update/

[2016-08-08 23:45] #66 closed

[2016-08-09 05:47] jacktasia commented on #66
@indigoviolet #71 is now available via MELPA.

[2016-08-09 17:35] #50 closed

[2016-08-09 20:53] jacktasia commented on #50
@vxe FYI Dumb Jump with basic support for Perl is now available via MELPA. Please let me know if you have any feedback. Thanks!

[2016-08-09 20:56] jacktasia commented on #53
@ryanwinchester FYI #69, which is now available via MELPA, provides functionality similar to this _I  think_. Please let me know if you have any feedback. Thanks!

[2016-08-11 19:16] #29 closed

[2016-08-15 19:35] #54 closed

[2016-08-16 17:12] wbolster opened #76 "completion/selection via ivy"
it would be great if the jump options that `dumb-jump` discovered could be selected using `ivy` instead of the current pop-up. it would be great if it looks like a `swiper`-style or `counsel-ag` style selection.

perhaps @abo-abo would be so kind to leave a comment on how that is best achieved. does it need changes in `dumb-jump`? would a `counsel-dumb-jump` be a better option? if so, is `dumb-jum

[2016-08-16 17:48] jacktasia commented on #76
@wbolster Thanks for creating this issue. I am certainly open to supporting other selectors beyond just the pop-up.

As far [as I can tell ](http://oremacs.com/swiper/#api) I can just use `ivy-read`. So I'll probably make a `defcustom` of like `dumb-jump-selector` that defaults to `popup` but can be `ivy` (and possibly other things too). Does that sound correct @abo-abo?

Thanks guys!

[2016-08-16 18:53] abo-abo commented on #76
Yes, sounds fine. Here's an example of `ivy-read` use:

[code]

[2016-08-16 21:05] wbolster commented on #76
awesome. ivy all teh things!!1

but this won't behave as a ag/grep style buffer, right? (on the fly visiting with `C-l` and so on.)

[2016-08-17 14:44] abo-abo commented on #76
It can behave as ag/grep, in fact like `counsel-ag` or `counsel-grep`. <kbd>C-M-n</kbd> and <kbd>C-l</kbd> work for these two and are easy to implement.

[2016-08-18 00:49] zilongshanren commented on #76
+1 for this feature ❤️

[2016-08-21 05:30] vmalloc opened #77 "Unable to select jump location from dropdown menu"
When trying to jump to a symbol with multiple options, I get a dropdown menu, and am unable to choose any of the options (`RET` has no effect)...

Is this a known issue?

[2016-08-21 05:49] jacktasia commented on #77
No. Thanks for reporting it. Do you have a public repo somewhere I can clone with a place to jump from that shows this problem?  I have been unable to reproduce this so far. Thanks!

[2016-08-21 05:52] vmalloc commented on #77
Sure - you can clone my config (https://github.com/vmalloc/emacs), and run it from a clean 25.1.1 Emacs (I think it reproduces on 24.x as well, but not sure).

I believe any code with multiple jump targets would cause this.

[2016-08-21 05:59] jacktasia commented on #77
I have never tried emacs 25, so that's possibly it, but can you give me any more details, like where/what you were trying to jump from?

[2016-08-21 06:30] vmalloc commented on #77
I'm pretty sure it happened to me before I made the switch as well (I only switched a few weeks ago).

And once again, pretty much any project with a few candidates causes this.

For instance:
[code]
where main.py is just:
[code]
And the other two are:
[code]

[2016-08-21 06:31] vmalloc commented on #77
In any case, you can reset the cloned repo to before commit 4cf8f8100130ce8e9e7a977d916e9cb364400163, and it should be compatible with 24.x...

[2016-08-21 13:21] OldhamMade commented on #64
Sorry, let me clarify with another example:
[code]
It would seem from your description that this is already the behaviour, that when jumping to `foobar`  in `defs.py` from `active.py` one should stay within `code/Client A/project-1`, but I'm occasionally jumping to `project-2/more-defs.py`.

I'll keep an eye on the behaviour and raise a separate bug if I can provide replication steps.

[2016-08-21 18:26] jacktasia commented on #77
So I can reproduce this with your emacs config only, but nothing seems to be obviously wrong (as far as an error message). The only thing I can think of is the keymap to select the popup item is somehow getting messed up. I am going to step back and work on #76 because I have a feeling that it will solve this problem and probably be your preferred way of selecting stuff  anyway (from using your co

[2016-08-21 18:45] vmalloc commented on #77
@jacktasia awesome. I'll be patient then. Thanks!

[2016-08-21 20:46] #76 closed

[2016-08-21 21:07] jacktasia commented on #77
Ok. I have #76 merged in, and I tried it against your config, and it worked as expected with `ivy`. You just need to add `(setq dumb-jump-selector 'ivy)` to your config.

The dumb-jump repo is updated, but it may take up 12 hours for the updates to be available via MELPA.

[2016-08-21 21:10] jacktasia commented on #76
@wbolster @zilongshanren This is working now, but may take a bit before MELPA picks it up. All you need to do is already have `ivy` installed and add `(setq dumb-jump-selector 'ivy)` to your config.

[2016-08-22 03:49] jacktasia commented on #77
It's updated on MELPA now. Please let me know if updating and adding the `(setq dumb-jump-selector 'ivy)` works for you too. Thanks!

[2016-08-22 03:51] jacktasia commented on #76
It's on MELPA now. Please let me know if you have any issues. Thanks!

[2016-08-22 04:35] vmalloc commented on #77
@jacktasia works like a charm! Thanks!

[2016-08-22 04:35] #77 closed

[2016-08-22 17:53] wbolster commented on #76
great work, thanks a lot

[2016-08-24 17:47] wbolster opened #80 "open in other window"
i would love a dumb jump command that opens the definition in another window, just like `find-file-other-window` and `switch-to-buffer-other-window`.

otherwise, rock on. :)

[2016-08-24 17:50] jacktasia commented on #80
Thanks for suggesting this. It's a great idea! Not sure why I didn't think of doing this myself...anyway, I'll look into adding this within the next few days. Thanks again!

[2016-08-24 18:38] wbolster commented on #80
what i said: rock on :)

[2016-08-25 04:12] jacktasia commented on #80
@wbolster This is up on MELPA now. You can either use `dumb-jump-go-other-window` instead or add `(setq dumb-jump-window 'other)` to your config and use `dumb-jump-go` as usual.

[2016-08-25 04:12] #80 closed

[2016-08-25 14:49] wbolster commented on #80
awesome, works fine.

and with this `:before: advice it even "integrates" with evil's jump system so i can easily move back:

[code]

[2016-08-30 18:28] #43 closed

[2016-08-30 22:57] jacktasia commented on #43
@wiruzx @nathankot @jojojames Dumb Jump with Swift support is now available via MELPA. Please let me know if you have any feedback. Thanks!

[2016-08-31 11:23] wiruzx opened #82 "Manual installation"
Hi @jacktasia
I'd like to try your package, but I don't really want to use `package.el`.
I tried to just clone the repo and `make install` but it doesn't seem to be working.
Could you please describe manual installation process?
Thanks!

[2016-08-31 17:50] jojojames commented on #43
Will do, thanks!

[2016-08-31 17:58] jacktasia commented on #82
😳

Are you using Cask or anything like it?

Assuming you're on at least emacs 24.3 you'll need to install all the dependencies:

`(f "0.17.3") (s "1.11.0") (dash "2.9.0") (popup "0.5.3")`

then just ensure the directory with `dumb-jump.el` is in your `load-path`.

That _should_ work, but let me know.

[2016-09-02 00:14] #32 closed

[2016-09-02 18:27] jacktasia commented on #32
@ecuzzillo Dumb Jump with support for C# is now available on MELPA. Please let me know if you have any feedback/issues. Thanks!

[2016-09-02 23:33] #44 closed

[2016-09-05 01:55] #70 closed

[2016-09-05 07:29] jacktasia commented on #70
@Kwarrtz Dumb Jump with support for Haskell is now available on MELPA. Please let me know if you have any feedback/issues. Thanks!

[2016-09-07 22:28] jacktasia commented on #82
I am closing due to inactivity, but please feel free to open a new issue if you had/have problems with the manual install.

[2016-09-07 22:28] #82 closed

[2016-09-18 17:01] wiruzx commented on #82
Hi,
Thank you for reply.
I had quite small .emacs file, so git submodules worked fine for me.
I didn't know that something like cask exist, but now I am using it with pleasure.
So thank you for sharing the knowledge :)

[2016-09-21 17:17] ecuzzillo opened #83 "http://melpa.org/packages/f-20160815.1253.el: Not Found"
I don't know if this is my fault or your fault, but I figured I'd ask.

[2016-09-21 17:21] jacktasia commented on #83
That's an old version of `f`. You probably just need to update your package list: <kbd>M-x</kbd> `package-list-packages` or `package-refresh-contents` (the former should do the latter I believe)

[2016-09-21 17:28] ecuzzillo commented on #83
That fixed it, thanks!

[2016-09-21 17:31] #83 closed

[2016-09-27 16:12] feilchenfeldt opened #84 "C-M-g not working"
Hello,
Thanks for developing dumb-jump.
This might rather be a issue with emac or meta-key mapping. I hope it is ok to ask this here.

I installed dumb-jump trough the package manager and everything works except for C-M-g.
(C-M-q works as expected, M-x dumb-jump-go works as expected)

When I use C-h k to check the mapping of C-M-g, then I get the mapping for C-g displayed. C-M-q however is display

[2016-09-27 17:46] jacktasia commented on #84
Sounds like it. It'd be hard to help much without your emacs config, but I am guessing it has something to do with running in iTerm. I think the easiest solution would be to just map `dumb-jump-go` to something else. It's only <kbd>C-M-g</kbd> by default because that's what "jump to defintion" is in IntelliJ's Emacs mode.

`(global-set-key (kbd "C-c g") 'dumb-jump-go)`

[2016-09-28 07:39] feilchenfeldt commented on #84
Thanks, that works!

[2016-09-28 07:39] #84 closed

[2016-09-28 17:36] wbolster opened #85 "also match cl-defun in elisp"
see title

[2016-09-28 17:58] #85 closed

[2016-09-28 20:35] wbolster commented on #85
awesome, thanks

[2016-10-03 18:44] hrehfeld opened #87 "c++ jumps to slightly wrong location"
❑ marks the cursor. ⬱ where it jumps. ⟵ where it should jump

from here:

[code]

to here:

[code]

[2016-10-03 18:49] jacktasia commented on #87
Thanks for reporting this! I'll probably be adding in something that will ignore results that start with a comment character for that language, which should fix this problem.

[2016-10-14 13:36] benzitohhh opened #88 "add shell-script (bash) support"
Hi there,

this is an amazing tool.

Would be great if there was also suppor for shell-script (i.e. bash).

Thanks!

Ben

[2016-10-14 17:06] jacktasia commented on #88
Thanks for opening the issue. I'll take a look at adding bash support this weekend. It should be pretty easy.

[2016-10-15 11:33] benzitohhh commented on #88
wow thanks for the speedy response - much appreciated.

[2016-10-15 19:30] #88 closed

[2016-10-15 22:34] jacktasia commented on #88
@benzitohhh FYI This change is now available via MELPA. Please open another issue if you run into any problems. Thanks!

[2016-10-16 23:31] benzitohhh commented on #88
@jacktasia Cool works great - gonna be using this all the time! Thanks again.

[2016-11-02 18:25] surya46584 opened #89 "search in java source jars. (question)"
hi, does this package support searching java sources jar files in local mvn repo?

[2016-11-02 18:27] jacktasia commented on #89
Nope. That's a bit too smart for this project 😉 . That said, if you decompressed the `jar`s and added the new folders to your project's `.dumbjump` file it might work.

[2016-11-02 18:33] surya46584 commented on #89
understood. thanks for quick response.

[2016-11-02 18:33] #89 closed

[2016-11-20 05:40] jschwab opened #92 "dumb-jump cannot be used with files whose extensions end in numbers"
I am in the process of trying to add fortran support to dumb-jump.

The regular expressions in `dumb-jump-parse-response-line`, i.e.

    (s-split ":?[0-9]+:" resp-line)
    (s-match ":?\\([0-9]+\\):" resp-line)

don't correctly handle the case when the filename ends in a number.  Since the colon is optional, they confuse the file extension and the line number.

In this case, the value of resp-lin

[2016-11-20 06:32] #92 closed

[2016-11-20 06:33] jacktasia commented on #92
Awesome!

Should be fixed now. Please let me know if you run into anything else on your way.

[2016-12-09 20:58] kubaroth opened #95 "problems finding rg"
It seems dumb-jump has problems to use manually built rg, even though (dumb-jump-rg-installed?) is returning True. Is there any way I can force this? Right now I still get the following warning?
`Took over 2s to find 'aaa'. Please install ag or rg, or add...`

[2016-12-09 22:31] jacktasia commented on #95
Thanks for the report. This could be a few different things. So a couple of questions:

1) Have you tried any other repo/projects with dumb-jump and `rg`?
2) Is the project you're searching happen to be huge where it's just taking more than 2s for `rg` to search it?

[2016-12-18 09:15] jacktasia commented on #95
Closing for inactivity, but more than happy to re-open and investigate if you're still having issues and can add more details.

[2016-12-18 09:15] #95 closed

[2016-12-20 16:40] 1-9 opened #97 "Any support for Typescript?"
Thanks for this amazing package.

Are there any plans to support typescript navigation.

Thanks.

[2016-12-20 19:32] jacktasia commented on #97
😊  You're welcome. Thanks for the kind words.

There are now. I'll add support within the next week or so. Thanks for the request.

[2017-02-08 13:31] josemachino opened #98 "Support for Coq language"
Coq has a formal language to write mathematical definitions. But having dumb-jump to support .v files will help. Thanks

[2017-02-09 03:38] jacktasia commented on #97
Sorry for the delayed response on this. I actually did look into this within a week, but since most javascript is valid TypeScript I decided I needed to come up with a good way for TypeScript to inherit the rules that already exist for javascript. That, unfortunately, I haven't had time to attack yet, but I'll happily accept PRs.

[2017-02-09 03:52] jacktasia commented on #98
Thanks for opening the issue. I am open to supporting Coq, but I have zero experience with it.

What keywords are important?

As far as I can tell:

* `Variable`
* `Inductive`
* `Lemma`
* `Definition`
* `Hypothesis`
* `Theorem`
* `Fixpoint`

Anything else?

Additionally, as far as I can tell the structure is always `Keyword X ` (where `Keyword` is a word in the list above, and `X` is what you woul

[2017-02-11 14:38] tarsius opened #99 "Please add a prefix to test-helper.el to avoid conflicts with 68 other packages"
There exist at least 69 packages that contain a file named `test-helper.el` that also provides the feature `test-helper`.

This leads to issues for users who have at least two of these packages installed.  It is unlikely that such a user would be able to run the tests of all of those packages.  If the primary test file of one of those packages does `(require 'test-helper)`, then it is undefined wh

[2017-02-11 15:32] josemachino commented on #98
Hi thanks you for your support, yes it is correct, Also the keyword Module, CoInductive. Have a good weekend.

[2017-02-11 16:50] tarsius commented on #99
I've been informed, that `ert-runner` automatically loads the `test-helper.el` file. So you should **not** rename that file. Instead please see [this issue](https://github.com/rejeep/ert-runner.el/issues/38), where I suggest that the `(provide 'test-helper)` should be dropped instead. Please accept my apologize for opening these issues prematurely.

[2017-02-11 19:30] jacktasia commented on #99
I can't see how this would lead to issues if they're installing via a package manager since none of the test code (at least in dumb-jump's case, but clearly depends on the config) would even make it on the end user's system in the first place.

Closing for now, but feel free to open a new issue if there's something actionable.

[2017-02-11 19:30] #99 closed

[2017-02-13 09:02] fluteguitar opened #100 "Keyboard binding for moving between popup options"
Could you please add key binding for ```select```, ```go-back-ward```, and ```go-forward``` for picking destination to jump when the popup suggestion tooltip is displayed?

![image](https://cloud.githubusercontent.com/assets/10528635/22877043/29022920-f206-11e6-89e7-252b85868570.png)

Thanks.

[2017-02-17 01:34] jacktasia commented on #100
If you already have helm or ivy installed then you can use those instead of the popup, which have much better options available.

`(setq dumb-jump-selector 'ivy)`
`(setq dumb-jump-selector 'helm)`

[2017-02-20 16:52] fluteguitar commented on #100
Hi @jacktasia,
Thank for the suggestion. I would play with them.

[2017-03-05 21:40] adc17 opened #101 "Emacs hangs when I run a dumb-jump search command (macOS, emacs 25.1, vanilla install)."
Hi jacktasia,
I've just installed dumb-jump on a new MacBook Pro running OS 10.12, and I'm trying it out on a small (11kb) project. I'm having no luck—dumb-jump just hangs for ~20 seconds and doesn't successfully jump to the definition.
I have ag and ripgrep installed; I'm using vanilla emacs 25.1 (nothing except dumb-jump and its dependencies), and I've tried this with both the melpa and the melp

[2017-03-05 21:55] jacktasia commented on #101
I use macOS with no problems. What language is your small project in?

[2017-03-05 21:57] adc17 commented on #101
It's in ruby. Apologies, as I've just tried the `(setq dumb-jump-default-project "~/path/to/project")` code and it fixed the issue for me.

[2017-03-05 21:58] adc17 commented on #101
In what sort of scenarios does dumb-jump struggle to identify the root project folder? It would be helpful to know moving forwards.

[2017-03-05 22:07] jacktasia commented on #101
It's going to keep looking at parent directories of your currently open file until it sees one of these files: https://github.com/jacktasia/dumb-jump/blob/master/dumb-jump.el#L780

A better solution for you would be to just create a `.dumbjump` file in that root of your project (more details in README). Usually this isn't necessary because 99% of projects seem to be using a VCS (particularly git).

[2017-03-05 22:07] #101 closed

[2017-03-08 10:29] netromdk commented on #87
Any updates regarding this?

Thanks

[2017-03-08 17:00] jacktasia commented on #87
Sorry, not really. I'd kind of forgotten about this because it seemed like such an edge case, but now that there's another reporter I'll bump the priority. @netromdk is this limited to c/c++ for you too? Thanks for the bump.

[2017-03-09 08:13] netromdk commented on #87
I've not seen it in any of my elisp or c++ yet. But I tried using the code of the above, and it jumps as stated. However, I found that if you remove the parameter `CRCOctree<TRecord> *octree` it will work fine. So I think your regexp doesn't handle the templated parameters correctly in the search. Hope that helps.

[2017-03-12 00:31] netromdk commented on #87
Remember to close this issue now as well. :)

[2017-03-12 00:35] #87 closed

[2017-03-13 01:31] #36 closed

[2017-03-13 10:43] netromdk opened #104 "Implement jumping to matches not in current file"
In some cases, you want to jump to an external definition, but there are local uses in the current file that you don't want it to match at all.

Perhaps adding `dumb-jump-go-non-current` and `dumb-jump-go-non-current-other-window` interactive functions for this purpose?

Thanks

[2017-03-13 11:59] netromdk commented on #104
Or it could sort matches for current file last, so it still jumps locally if no external matches are found.

[2017-03-13 13:24] bucketzxm opened #105 "dumb-jump not found"
Hi,
  I am using packing-install to install the dump-jump, but it shows ~~dump-jump~~(was a typo)dumb-jump not found.
The original message is :
`https://melpa.org/packages/dumb-jump-20161218.110.el: Not found`

Any Ideas ?

Thanks

[2017-03-13 13:27] netromdk commented on #105
It's called `dumb-jump`. :)

[2017-03-13 13:29] bucketzxm commented on #105
sorry.. I made a mistake when creating the issue.. ... i typed the 'dumb-jump' in emacs actually ..

[2017-03-13 13:38] bucketzxm commented on #105
it works ! Thank you !

[2017-03-13 13:38] #105 closed

[2017-03-13 18:59] jacktasia commented on #104
I agree that this is a good idea. I think I like `dumb-jump-go-prefer-external` and `dumb-jump-go-prefer-external-other-window` best.

[2017-03-14 20:06] netromdk commented on #64
This is possible using the new ".dumbjumpignore" files. have a look at https://github.com/jacktasia/dumb-jump/pull/106/commits/12c315f0419e3b4b21db674d6261eff277f86985 for more information.

[2017-03-15 21:32] #100 closed

[2017-03-15 21:32] #64 closed

[2017-03-16 00:41] netromdk commented on #34
@jacktasia this issue should be closed now, I guess.

[2017-03-16 00:42] #34 closed

[2017-03-16 10:04] cweiske commented on #36
Thank you! I'll wait for the next melpa release to try it out.

[2017-03-16 19:41] #104 closed

[2017-03-16 21:03] netromdk opened #109 "Possibility of having git-grep in git repos and fallback to ag"
I was thinking that people would probably prefer to use `git grep` in a git repo because it's usually faster, and now they can with commit https://github.com/jacktasia/dumb-jump/commit/a90ae445a2d9cb3feeea3ce7752a9d723838e986.

However, it's not always useful to have `(setq dumb-jump-searcher "git-grep")` if you sometimes search non-git projects. In this case, I was wondering if it would be helpfu

[2017-03-16 21:07] netromdk commented on #109
Perhaps there could be a `(setq dumb-jump-use-git-grep-in-git-repo t)` or something, and `dumb-jump-pick-grep-variant` would then use `git grep` if the project has a ".git" denoter and `git grep` is installed.

[2017-03-16 21:20] jacktasia commented on #109
I haven't fully thought this out yet but I was kind of thinking of having `dumb-jump-searcher`* default to `nil` and then when `nil` it will pick the best option which seems to be (in order): `git-grep` (if it's a git project), `ag`, `rg`, `grep`. If it's anything but `git-grep` it would still try to use `git grep` if it was a git project...but then also add a new config called `dumb-jump-force-se

[2017-03-16 22:02] netromdk commented on #109
I agree with your two variables, making it possible to force a searcher if necessary (like wanting `rg` which will not be chosen if both `git grep` and `ag` are installed, for instance), and still being able to define a preferable searcher.

But just to be clear, this is how I understand the way it will detect the searcher to use (most relevant first):

1. If `dumb-jump-force-searcher` is defined,

[2017-03-16 23:16] jacktasia commented on #109
That all sounds good/correct to me.

Yes, my thinking is if a person is going to set a variable with `force` in the name then the least confusing thing to do is what we're told. That said, we should just do what they say, but still error gracefully if not found...something like: `Jump aborted! Searcher "rg" was forced, but not found. Please install "rg" or set "dumb-jump-force-searcher" to nil to

[2017-03-16 23:19] jacktasia opened #110 "Bump MELPA Stable Version"
It's been a while since I've bumped the MELPA stable version (although the dumb-jump downloads there are 1/100th of normal MELPA)

[2017-03-16 23:30] netromdk commented on #109
I think I'm look into this tomorrow. 😊

[2017-03-18 21:25] jacktasia commented on #109
Thanks again!

[2017-03-18 21:25] #109 closed

[2017-03-18 21:33] jacktasia commented on #110
https://github.com/jacktasia/dumb-jump/releases/tag/v0.5.0

[2017-03-18 21:33] #110 closed

[2017-03-21 10:25] cweiske opened #114 "PHP function declaration not found - escaping issue?"
I'm using dumb-jump 0.5.0 in emacs 24.5.1 on Ubuntu 16.04 and have trouble finding php function definitions.

`ag` is used. In `dumb-jump-run-command` I uncommented the `dumb-jump-message-prin1` call and get in `*Messages*`:

    NORMAL RUN: CMD '"ag --nocolor --nogroup --php function\\\\s\\*exec_SELECTgetRows\\\\s\\*\\\\\\( /home/cweiske/bla"' RESULTS: ""

Running that ag command as-is in bash do

[2017-03-21 10:49] cweiske commented on #114
Ok, this was tricky. It was not an escaping issue.

dumb-jump found a project root through the `.git` dir (docker config dir), which happened to have subdir `htdocs` excluded via `.gitignore`. The sources are in htdocs.

`ag` now read that gitignore and simply skipped htdocs... After creating a `.dumbjump` file in `htdocs` it all works flawlessly.

Thanks for dumb-jump!

[2017-03-21 10:49] #114 closed

[2017-03-24 14:21] Schnouki opened #118 "Paths too long in the tooltip"
I just heard about dumb-jump and started using it in a Python project I'm working on. So far so good, except for one thing.

I work with a virtualenv in `~/.virtualenv`, so I added `+/home/schnouki/.virtualenv/envname/lib/python3.6/site-packages` to my `.dumbjump` file.
As a result, when using `dubm-jump-go`, the first line can sometimes be extremely long, such as `home/schnouki/.virtualenv/envnam

[2017-03-24 19:01] jacktasia commented on #118
Thanks for the report. So just to confirm you're talking about using `dumb-jump-quick-look`, right? I assume so based on your usage of "tooltip" and not `popup`.

[2017-03-24 21:21] netromdk commented on #118
I guess it should be used for all choices in `dumb-jump-prompt-user-for-choice` then? Should the same apply for the project itself?

What would be the syntax for defining a shorthand path identifier?
Maybe something like:
[code]

Or:
[code]

[2017-03-24 21:32] jacktasia commented on #118
Maybe I am underthinking this and please correct me if I am wrong, but it seems like this is pretty easy to solve without changing dumb-jump

Instead of adding `+/home/schnouki/.virtualenv/envname/lib/python3.6/site-packages` to your `.dumb-jump` just add `+/tmp/venv` and do a `ln -s /tmp/venv /home/schnouki/.virtualenv/envname/lib/python3.6/site-packages` in your terminal. Obviously `/tmp/venv` c

[2017-03-27 07:49] Schnouki commented on #118
I was thinking about `dumb-jump-go`. Sorry if I was unclear; I was using the word "tooltip" as the first argument for `dump-jump-go` is called `use-tooltip`. But yeah it uses a popup, and I meant popup indeed :)

I thought about the symlink solution but I don't quite like it: it I create such a symlink in my project, I'll have to add some exclusion rules in my linter config and unit test launcher

[2017-03-27 07:59] cweiske opened #120 "PHP class not found when searching on constructor"
[code]

When putting the caret onto `F` and jumping, it says

When removing the parentheses from the code, it works - the class is found.

Source of this problem is probably `dumb-jump-language-contexts`. Since you can have functions in PHP variables now, limiting things-with-a-following-`(` to functions is not helpful in my eyes.

[2017-03-27 17:07] #120 closed

[2017-03-27 17:09] jacktasia commented on #118
@Schnouki Thanks for the details. Have you considered using `ivy` or `helm` instead of the default popup? See `dumb-jump-selector` in the README. I _think_ it would handle long paths way better.

[2017-03-28 07:19] netromdk opened #122 "Jumping vs. showing candidates"
In `dumb-jump-handle-results` there's a `do-var-jump` that I find a little flawed. Especially the `(string= ctx-type "")` part from my excerpt beneath:

[code]

Before I fixed the absolute/relative current file matching in https://github.com/jacktasia/dumb-jump/commit/e23bff8b918c41dd8dc9a13cc117e919bd21e58a it would not trigger `do-var-jump` because `matches` wouldn't get a size of 1 often. Howev

[2017-03-28 13:37] netromdk commented on #122
Another perspective: Let's say there are three matches, one in the current file, and two in other files. I typically don't want to jump in the same file when there are multiple matches. Sometimes it's fine but other times it isn't. In the cases where it just jumps incorrectly, let's say, then you can't get an overview of all candidates either, which I personally find very useful - and it's why I l

[2017-03-28 17:39] jacktasia commented on #122
I suppose this is more a function of the code base you're jumping within. For example, in my projects I almost always get one match and an immediate jump. That hasn't ever changed for me.

I honestly can't remember 100%, but I am pretty sure my thinking was if it's a `variable` context match then it makes sense to jump to the first/closest match. For example, think of a project where `users` is a

[2017-03-28 18:21] netromdk commented on #122
I understand it different from user to user. But for me, working with rather huge C++ projects, the definitions are almost always not in the same file. And personally, if they were in the same file I would probably just <kbd>C-s</kbd> for it anyway.

Sure, I understand. 😁

It would be great with a way to tweak Dumb Jump to do one or the other thing discussed here. If `dumb-jump-aggressive` is crea

[2017-03-28 18:34] jacktasia commented on #122
First of all thanks for opening this issue. I forgot to say that before.

I agree and I am totally open to anything you'd like to PR.

Yeah, I think so. It should be a simple as:

[code]

with

[code]

but correct me if I am wrong.

[2017-03-28 18:58] netromdk commented on #122
I was more thinking like this:
[code]

Meaning if there is one match (in current file) and context is "variable", aggressive or not, then it would jump. In aggressive mode it would just ignore the context?

[2017-03-28 19:01] netromdk commented on #122
Otherwise it could be determine directly with the aggressive mode:
[code]

[2017-03-28 19:09] jacktasia commented on #122
I _think_ your first way would be more aggressive than it currently is (for `function` contexts) and your second way would never cause the jump if you only had one match unless you had aggressive mode on.

[2017-03-28 19:24] netromdk commented on #122
It's not working for me if `(= (length matches) 1)` makes it jump because I have files with one match in the current file and several externally where I don't want it to jump inside the current file. So maybe non-aggressive means it will not jump if there is one match in current file and one or more in `match-cur-file-front` in general?

Like this:
[code]

[2017-03-28 20:41] jacktasia commented on #122
Yeah, I mean my thinking was if it's the non-aggressive mode then it would only ever automatically jump if there was only 1 place (overall, regardless of files) to jump to. (my code example was probably out of date)

[2017-03-28 20:43] netromdk commented on #122
That's great. Then we agree. 👍 I'll make a PR now.

[2017-03-29 03:13] #122 closed

[2017-03-29 19:00] indigoviolet opened #124 "Independent of underlying shell?"
I find that when I've enabled Iterm2's shell integration (https://www.iterm2.com/documentation-shell-integration.html), `dumb-jump` starts finding filenames like

[code]

Wouldn't it be better if the dumb-jump commands ran in a shell that wasn't affected by these sorts of login customizations?

[2017-03-29 19:07] jacktasia commented on #124
Thanks for report!

Certainly seems that way. Although we're currently just using `shell-command-to-string` and after a very shallow 2 minutes of googling haven't seen any obvious alternatives, but I would think this would pretty easy to implement once I figure out what I should be using instead. I'll update this with any progress. Thanks again!

[2017-03-29 19:19] netromdk commented on #124
`shell-command-to-string` uses `shell-file-name` to run the commands:

Its value is "/bin/zsh"
Original value was "/bin/bash"

File name to load inferior shells from.
Initialized from the SHELL environment variable, or to a system-dependent
default if SHELL is unset.  See Info node ‘(elisp)Security Considerations’.

[2017-03-29 19:34] jacktasia commented on #124
@netromdk So it seems like we'd have to make a special version of `shell-command-to-string` for Dumb Jump that depending on the `shell-file-name` had its own version of `shell-command-switch` (which for `bash` defaults to `-c` but we would need it to be `--noprofile -c` and for `zsh` add `--no-rcs`) Thoughts on this route?

[2017-03-29 19:35] indigoviolet commented on #124
@netromdk that was helpful, I think I was able to fix it by setting `shell-command-switch`

[code]

[2017-03-29 19:53] netromdk commented on #124
The difficult part is knowing the arguments to pass to the given shell to "use no profile". We could detect what value the variable has and temporarily use known arguments, like you mentioned @jacktasia. But I'd be more powerful with a generic solution somehow.

[2017-03-29 20:16] netromdk commented on #124
There doesn't seem to be any good, generic solution so I'd vote for setting _temporary_ arguments given the shell defined in `shell-file-name`.

[2017-03-29 20:23] jacktasia commented on #124
@netromdk Thanks for the notes!

Agreed.  I think in the short-term we only support `bash` and `zsh` and then if there's like at least two `[`s per every searcher line then we warn the user and ask them to create an issue so we can (potentially) support whatever shell they're using. I am mainly worried about Windows and other systems I have little experience with.

That said, simply touching on th

[2017-03-29 20:25] netromdk commented on #124
That's a great idea about warning people, but that warning must be possible to disable - like we can for emacs ones. 👍

[2017-03-30 21:09] #124 closed

[2017-03-30 22:35] alphapapa commented on #124
Forgive the intrusion, just noticed this:

Bash (and I think zsh also) explicitly supports the `[[ ... ]]` test syntax (in fact, it's far superior to the  `[ ... ]` syntax, and unless one is targeting plain `sh` or `dash`, should generally be used instead).

[2017-03-31 00:00] jacktasia commented on #124
@alphapapa  My point was that if there's multiple `[` on every searcher response line then that probably means that color codes have found their way into the shell somehow. So this would be on the emacs lisp parsing side not the command running side.

[2017-03-31 01:46] alphapapa commented on #124
Ah, good point.  :)

[2017-04-12 11:00] cweiske opened #127 "Make it easier to debug dumb-jump's behavior"
I'm using dump-jump in a new PHP project and only get an error message:

I've added a `.dumbjumpignore` file to my extension to make d-j search more files, but dumb-jump still does not find the file.
To debug this problem, I have to edit the d-j sources and restart emacs.

It would be helpful if I could

1. print the current project root with a command
2. see the command used to search without edi

[2017-04-12 11:45] netromdk commented on #127
FYI: You don't have to restart emacs you can just `eval-buffer` or region.

[2017-04-12 11:47] netromdk commented on #127
I normally uncomment [here](https://github.com/jacktasia/dumb-jump/blob/master/dumb-jump.el#L1426) and look at what it prints. But it would be nice with some better debugging facilities.

[2017-04-12 19:52] jacktasia commented on #127
I just added a `dumb-jump-debug` config var to optionally output _some_ helpful debug information. I think there's more we'd probably want to output when it's on.

Turn it on with `(setq dumb-jump-debug t)`

[2017-04-18 21:00] #127 closed

[2017-04-20 06:20] wtok opened #128 "dumb-jump not finding declaration in extremely simple C example"
It's likely this is a problem with my setup, but I can't get dumb-jump to work for C at all.

Here's what I'm trying to get working. I have a folder with just two files in it, `test.c` and `test.h`.

This is `test.c`:
[code]

And this is `test.h`:
[code]

If I navigate to `some_function()` in `test.c` and do `M-x dumb-jump-go` or any other `dumb-jump` command, it fails to find the declaration of `

[2017-04-20 08:04] wtok commented on #128
Okay, thanks for that. I couldn't get it to print any debug info, so I tried deleting and re-installing dumb-jump, which solved the issue and it now works as expected. I have no idea how my dumb-jump package got broken like that, but it's fixed now. Thanks!

[2017-04-20 08:04] #128 closed

[2017-05-02 07:43] rompy opened #129 "Multi-line patterns"
`dumb-jump` will fail for anything else except `ag` in this case:
[code]

Apparently `rg` and `git grep` doesn't support multi-line patterns, and `gnu grep` supports them with `-E -z -o` arguments only.

You should mention that in the README, so others won't spend time debugging this 😄

[2017-05-02 07:50] jacktasia commented on #129
Thanks for the report. I agree this should be mentioned somewhere.

[2017-05-02 12:04] srustamo opened #130 "Jumping to `defvar' in the same file in .el files"
I'm not so sure (and the docs are not clear on this) how calling `dumb-jump-go` in in an .el file behaves.

Say, this is a a file:
[code]
Say, I'm on line 5, point is on `emacs-d` symbol and run `dumb-jump-go`.

What I get is (without .dumbjump and if the dir contains many files) `Took over 2s to find ’emacs-d’. Please install ag or rg, or add a .dumbjump file to ’/Users/xx3’ with path exclusions`

[2017-05-02 16:45] jacktasia commented on #130
Your example works fine for me. Looks like your operating out of your home directory, or a directory with nothing to denote its project root (so it's defaulting to `~`), and dumb-jump is going to search all child directories recursively. I recommend you look at this issue: https://github.com/jacktasia/dumb-jump/issues/128

[2017-05-03 08:32] srustamo commented on #130
I freshly clone [this](https://github.com/srustamo/rush-emacs) repo, and open `init.el` in the root and do `dumb-jump-go` on line [18](https://github.com/srustamo/rush-emacs/blob/master/init.el#L18) of the file (which is what the opening issue was about), and still get  this subject error.

GNU Emacs 25.2.1 (x86_64-apple-darwin13.4.0, Carbon Version 157 AppKit 1265.21)
 of 2017-04-26

[2017-05-03 10:48] wbolster opened #131 "open in existing window if file already visible"
it would be great if `dumb-jump` could jump to a definition, and if the file containing that definition is already shown in another window (e.g. split view), it would just reposition and focus that window.

right now it's either the current window or "other window", but there is a sensible middle ground that seems impossible right now.

[2017-05-03 11:23] srustamo commented on #130
Incidentally, the this package functions work fine on a C project, other things being equal.

[2017-05-03 13:18] wbolster commented on #131
i can come up with a pr that implements this, so please let me know whether you think this is a good feature to have. (i obviously want it.)

[2017-05-03 13:20] wbolster commented on #131
[code]

is the approach i would like

[2017-05-03 13:20] wbolster commented on #131
[code]

and this is how it would work. ;)

anyway, let me know what you think, and i will submit a proper pr.

[2017-05-03 18:39] jacktasia commented on #131
I think this is a great idea and I'd happily take the PR. Thanks!

[2017-05-03 18:46] jacktasia commented on #130
Thanks for the example. Your `rush-emacs` project has a `.gitignore` of just `*`. Most searchers (like `ag`) respect the `.gitignore` file and do not search anything that matches it.  If you remove the full wildcard `*` then dumb-jump works as expected.

https://github.com/srustamo/rush-emacs/blob/master/.gitignore

[2017-05-04 08:03] srustamo commented on #130
Thank you.

[2017-05-04 08:03] #130 closed

[2017-05-04 11:59] wbolster commented on #131
ok you can assign this issue to me. i will probably polish it a bit to make it work sensibly with multiple frames as well.

[2017-05-06 22:07] #129 closed

[2017-05-07 14:48] pesterhazy opened #133 "Prompt for symbol"
Thanks for this gem!

One useful enhancement would be to prompt for a function name (sybol) instead of using the symbol-at-point. I find myself using helm-ag a lot to find a specific function in my project even if it's not currently under the cursor. `dumb-jump`'s algorithm would work much better because it filters out non-definitions.

[2017-05-08 04:51] jacktasia commented on #133
Thanks for opening this issue. I totally agree. I think I have this working in #134 if you have any feedback. If not, I just want to do some more tests and then I'll merge it in a day or two. Thanks again!

[2017-05-09 20:26] #133 closed

[2017-05-10 03:11] jacktasia commented on #133
The version of dumb-jump with the new `dumb-jump-go-prompt` interactive command is now available on MELPA. The README has also been updated. Thanks again for the suggestion!

[2017-05-10 21:30] #131 closed

[2017-05-11 13:32] pesterhazy commented on #133
Just tried it, it works great! Thanks so much!

[2017-05-11 18:11] jacktasia commented on #133
Thanks for the feedback. Glad to hear it!

[2017-05-16 14:28] therockmandolinist opened #135 "Editing an org src block?"
It'd be nice if dumb-jump worked when using `org-edit-special` on an src block. Right now I get something like: `Could not find rules for '.org[ emacs-lisp ] *] file'.`

[2017-05-16 18:43] jacktasia commented on #135
Thanks for opening this. I don't currently use org-mode so this wouldn't be something I could easily add, but I'll happily take a PR if someone wants to add it.

[2017-05-16 19:11] therockmandolinist commented on #135
Ah, ok. Clarifying question: the README says dumb-jump can use the `major-mode` of the buffer - any reason why that wouldn't work here? In these cases the major mode is just the mode for the src language - so in the above example, `org-edit-special` just enters a buffer in `emacs-lisp-mode`.

[2017-05-16 19:21] jacktasia commented on #135
Sorry, the README isn't very specific, but basically, it uses major-mode only as a fallback, and it's honestly not that smart (because it's not used very often). That _may_ work in some cases with `org-edit-special`, but it won't work in the case of emacs lisp because dumb-jump classifies emacs-lisp as `elisp` and the major-mode for `emacs-lisp-mode` would come back as `emacs-lisp` (`elisp` != `em

[2017-05-18 18:37] bounceme opened #136 "separate regexes from lisp file?"
it seems like this could be of use, with a few modifications, outside of emacs, as a lot of the logic is external command related. could this work with the current architecture of this emacs mode?

[2017-05-18 18:42] jacktasia commented on #136
Yes, I have often thought about just storing the regexes in json so that I could make dumb-jump for other text-editors and they could all just share the same json file. Unfortunately, I don't have the time to do that right now but would definitely consider a PR to do this.

[2017-05-18 18:44] bounceme commented on #136
thanks, i'll be looking into this more when i get the time

[2017-05-18 22:02] jacktasia commented on #136
Cool, if/when you do please discuss the json structure and overall plan before actually doing all the work on the PR. Just to ensure we all stay on the same page and you don't waste any time. Thanks!

[2017-05-19 07:13] bounceme commented on #136
https://gist.github.com/bounceme/6e36a93faaa6d0885eded3e6560f4ddc

 here is some some hopefully correct data

[2017-05-19 07:57] netromdk commented on #136
That's nice but I think @jacktasia wanted it to be JSON so it is easy to load from all external tools and variations.

[2017-05-19 08:11] bounceme commented on #136
this isn't the pr. i'll work on a pr later, first need to figure out how to parse json to the equivalent elisp data

[2017-05-19 09:18] bounceme commented on #136
https://gist.github.com/bounceme/ae8bab4f56ec1948ac1faca3b2f38b98

this is possibly incorrect, i did this manually with regex, then prettified it

[2017-05-19 15:08] ewstearns opened #137 "Support tramp"
Works on a emacs running on remote, but doesn't work over tramp.

Host: GNU Emacs 25.1.1 (x86_64-apple-darwin13.4.0, NS appkit-1265.21 Version 10.9.5 (Build 13F1911)) of 2016-09-17

Remote: GNU Emacs 24.5.1 (x86_64-pc-linux-gnu) of 2016-04-17 on lgw01-04, modified by Debian

The only difference I can see between working and not working is tramp.

[2017-05-19 17:51] bounceme commented on #136
if someone wants to volunteer to get this working, since locally compiling and editing elisp is really hard for a vim user, it should _similar_ to this(i think):
[code]

[2017-05-19 19:12] jacktasia commented on #137
Thanks for the report. I honestly thought I had just used it via `tramp` the other day and it worked fine. All I had to do was install `ag` on the remote host and it worked, but there's tons of different ways to use `tramp` so that could be the difference. FWIW I was using a mac and the `scpx` tramp method and had `ssh-copy-id`'d to the remote.

That said, I am confused why you're mentioning two v

[2017-05-20 00:53] bounceme commented on #136
another thing to know is that some json decoders don't like the duplicate key names e.g. "type"

[2017-05-20 01:01] jacktasia commented on #136
@bounceme  Thanks for working on this.

Makes sense. The format [here](https://gist.github.com/bounceme/ae8bab4f56ec1948ac1faca3b2f38b98) is definitely wrong...it's one giant json object (which is the issue with duplicate keys).

I think the ideal way would be a list/array of objects like this (example of first two rule sets):

[code]

[2017-05-20 02:18] bounceme commented on #136
gist updated

[2017-05-20 02:20] jacktasia commented on #136
Awesome, that looks good!

[2017-05-20 02:21] bounceme commented on #136
https://github.com/jacktasia/dumb-jump/blob/master/dumb-jump.el#L322 is that intentional?

[2017-05-20 08:16] jacktasia commented on #136
Nope. The second `:tests` was supposed to be a `:not` but since it didn't override it (it would fail) it just got lost. It's fixed now. Thanks for the heads up!

[2017-05-20 15:06] ewstearns commented on #137
1. `tramp-default-method` is `scp`.
2. I'm trying to use `ag`.

I turned on `dumb-jump-debug` and got the following in my `*Messages*` buffer (editted to remove sensitive data):

[code]

[2017-05-20 20:17] kermorgant opened #138 "PHP : won't jump to definition in other file if misleading pattern found locally"
Hi,

Thanks for this nice package  !

I've tried to jump to the definition of 'Symfony\Bundle\FrameworkBundle\Controller\Controller' or 'Symfony\Component\HttpFoundation\Request' from the following file, but it will only loop inside the similar strings inside the file. On the other hand, jumping to Security works quite well.

[code]

[2017-05-20 20:20] jacktasia commented on #138
You're welcome. Happy to hear you like it!

Thanks for the report. I am guessing this is just the aggressive mode not working in your case. Please try setting `dumb-jump-aggressive` to `nil` like this `(setq dumb-jump-aggressive nil)`.

[2017-05-21 07:01] kermorgant commented on #138
Ok, indeed, thanks :)

Just by curiosity, do you think it would be thinkable to take namespace declarations into consideration for the suggestions ? (that would be a huge benefit for the 'Controller' example)

[2017-05-21 19:39] jacktasia commented on #138
No problem.

 dumb-jump isn't currently setup in a way that would make that easy, but it's definitely possible it would just require chainable rules (and regular expressions). I've thought a bit about this while making dumb-jump -- and it probably is the next logical step at improving dumb-jump -- but I haven't had the time to come up with a good generic system and it would certainly be another bi

[2017-05-21 20:33] kermorgant commented on #138
I'm affraid I won't be able to help you much but I'd happily help with tests if needed :)

Maybe you know about it , but I just saw [ede-php-autoload](https://github.com/stevenremot/ede-php-autoload) today , and although I still have some issues with it, it has the same convenience as dumb-jump as to avoid setting up code indexing strategies (given you have composer managing the autoloader). Maybe

[2017-05-22 01:56] bounceme commented on #136
https://github.com/bounceme/dim-jump is shaping up quite well. proving useful already! don't want this too seem impatient, just a proof of the benefits

[2017-05-22 02:13] jacktasia commented on #136
That's cool! The main thing that is blocking this for me is that I need to sync this change with MELPA because the current receipe it uses wouldn't auto include a `.json` file. That said, I am flirting with the idea of dumb-jump pulling down the json from github automatically if it's not found relatively.

Have you thought about how you're going to keep the json synced on your end?

[2017-05-22 02:18] bounceme commented on #136
I think i'll just make the json file a user provided thing. with a link to it, it's only a cURL away. and if someone wants to contribute regexes they can all go to one place

[2017-05-24 08:47] c02y opened #139 "Is implementing `bumb-jump-list-reference` in the plan ?"
When I'm at the definition of a function/method, `bumb-jump-list-reference` will list the positions that call this function/method, that is very useful, it will make dumb-jump not just a "jump to definition" package.

Is implementing `bumb-jump-list-reference` in the plan ?

[2017-05-24 21:34] jacktasia commented on #139
Sounds like you're talking about a usage list like #53? It's definitely something I've considered and I'll count this as another vote for it. Thanks!

[2017-06-01 18:09] kubaroth opened #140 "external lib paths with a git repo"
How does at the moment the external libraries are handled within a git repo? If I put a .dumbjump file (with external paths specified) at the same level as .git it seem the former one is not taken into account.

[2017-06-01 19:17] jacktasia commented on #140
It should be looking for a `.dumbjump` file first. As far as I know this works as expected, but obviously, a bug is possible. Please provide more details. If the repo in question is publically available a link would be great, but if it's private if you could provide as much detail as possible for me to potentially reproduce your issue, like:

* programming language of your project
* the contents o

[2017-06-01 21:52] kubaroth commented on #140
Thanks for quick reply.
This is python and I have a single entry in the .dumbjump which point to the root level of the external library.
Update: Temporarily renaming .git solves my problem.

[2017-06-05 12:13] mandarvaze opened #142 "Please add support for elixir"
`alchemist.el` which is special mode handler for elixir, already supports "go to definition" and "jump back"

[2017-06-05 20:56] jacktasia commented on #142
Thanks for opening this issue. I'll look into adding this as soon as I have time.

[2017-06-06 21:54] kubaroth commented on #140
Wondering if you had any luck reproducing it? I have a limited bandwith at the moment and workarouned the problem by returning nil instead of ` ;; (f-exists? (f-join proj-root ".git"))`. Feel free to close it if it works for you.

[2017-06-07 19:40] jacktasia commented on #140
Oh! Thanks for mentioning this! I see what's happening now. When we changed to defaulting to `git-grep` if there's a `.git` in the project root that would break searching outside the repo (with a `.dumbjump` config) since `git-grep` almost certainly doesn't support searching outside its own repo.

Easiest fix for now would be to force `ag` or `rg` in your `~/.emacs` like this: `(setq dumb-jump-for

[2017-06-07 21:50] kubaroth commented on #140
Thanks, I can confirm forcing in ~/.emacs does work with 'rg but does not with 'grep. I get a message "python  declaration not found."

[2017-06-07 21:55] jacktasia commented on #140
Great, thanks for confirming! I'll plan on updating the code to not allow defaulting to `git-grep` when an outside path is added to the `.dumbjump` and in the short-term, I will update the README docs on `.dumbjump` with a warning about this issue. Thanks again!

[2017-06-07 22:31] kubaroth commented on #140
Thanks, great tool btw!

[2017-06-07 22:31] #140 closed

[2017-06-08 22:37] #98 closed

[2017-06-09 18:58] jacktasia commented on #98
@josemachino Dump Jump with Coq support is now on MELPA. Sorry for taking so long to add this. I tested with @jwiegley's [category-theory](https://github.com/jwiegley/category-theory) and it seems to work well, but please let me know if you run into any issues or have any ideas for enhancements. Thanks!

[2017-06-09 19:26] jwiegley commented on #98
@jacktasia Thanks, I'll definitely give this a try. :)

[2017-06-09 19:50] jwiegley commented on #98
Seems to be working very well!

[2017-06-09 19:59] jacktasia commented on #98
Glad to hear it! Thanks for letting me know. Please don't hesitate to let me know of any issues or ideas for improvements going forward.

[2017-06-11 05:57] terlar opened #144 "Failing to use the fallback major-mode detection for shell-scripts without extension"
When I try to use dumb-jump inside an extensionless shell-script file I want it to fallback on the major-mode detection. But somehow it doesn't enter that case, instead says: `Could not find rules for '.? file'.`

If I manually run `(dumb-jump-get-language (buffer-file-name))` it will return `".? file"`. So it is not that strange. But the curious thing is:

- `(dumb-jump-get-language-by-filename (

[2017-06-11 06:03] terlar commented on #144
Having a second look at this it is pretty clear what is wrong here, it is because the major-mode for `shell` is `sh-mode` and the `dumb-jump-find-rules` only has `shell` defined. So perhaps add `sh` in there to support this?

[2017-06-11 20:36] #144 closed

[2017-06-12 01:57] jacktasia commented on #144
Thanks for reporting this! There's a new version up on MELPA that should have this fixed.

[2017-06-12 03:49] terlar commented on #144
Now the mode triggers properly, but doesn't seem to be able to look up things properly.

Try this simple script, name it `demo` for creativity:

[code]

If you have your cursor on `findme` function call and execute the `dumb-jump-go`. Then you will get the result: `'findme' shell  declaration not found.`

[2017-06-12 03:59] jacktasia commented on #144
Your example worked for me. Can you provide more details?

* Searcher (git-grep, ag, rg, grep)
* Set `(setq dumb-jump-debug t)` and try search and copy/paste `*Messages*` results
* Emacs version
* OS/shell

Thanks!

[2017-06-12 04:20] terlar commented on #144
Interesting... It seems it is searching in the wrong folder somehow.

I open a file in `/home/terje/test` but somehow the search is done inside `/home/terje/.emacs.d`.

- Searcher: `rg`
- Emacs version: `GNU Emacs 25.2.1`
- OS: Linux 4.11.3-1-ARCH

[code]

I am using persp-mode and projectile, could they be interfering?

[2017-06-12 04:24] terlar commented on #144
Once again might be my fault, it is not that strange, I have put my default project as my emacs directory, which explains the behavior, so in this case I guess it is correct but confusing. The problem was the other time where I actually had a project open, but then I guess it didn't manage to identify that and used the default project as well. Just strange that it worked before this change, that i

[2017-06-12 04:27] jacktasia commented on #144
Thanks for the debug info. I am glad you got it working. Please let me know if you have any ideas on how the documentation could be better.

[2017-06-12 04:28] terlar commented on #144
I didn't really get it working though, since it is still searching the wrong directory. I just know that that is the issue now. Not sure why it doesn't find the directory but instead falls back to the default project.

[2017-06-12 04:31] jacktasia commented on #144
Check out #128  it's falling back to the default project because it can't detect one.

[2017-06-12 04:32] terlar commented on #144
This is the output from when I am in an actual project, so my "isolated" test was having the wrong preconditions.

[code]

Seems the filter explicitly searches for files with extensions, so it won't work for these unnamed shebang scripts.

[2017-06-12 04:34] terlar commented on #144
So in this case it is using `git grep` and detects the project correctly but is too explicit in the search pattern.

[2017-06-12 04:34] jacktasia commented on #144
Try restarting your emacs.

[2017-06-12 04:39] terlar commented on #144
I have restarted `emacs` and tried both in server-mode (also restarted) which I usually run, but also in a fresh new client. Do you think the wrong code is run? Could there be some cache somewhere or that it hasn't redone the byte-compilation since I updated the package?

Thank you for your support, feedback and great tool.

[2017-06-12 04:48] jacktasia commented on #144
The generated searcher command shouldn't have explicitly listed the shell file extensions because I removed them in [this commit](https://github.com/jacktasia/dumb-jump/commit/9743f3f2736c0e84c5dff860a142c78a0c4ed861#diff-7d5fde248d17c1592b9a27209496fe24R838). As you mentioned this is an important element of supporting extension-less shell scripts.

This is why I suggested restarting but can't say

[2017-06-12 06:06] terlar commented on #144
It is "working" with `rg`, or it would be working, the only problem is that in this file, in this specific project the file lives in a hidden directory, so by default it is filtered out by `rg` but if I put it anywhere else it works.

[2017-06-12 06:09] terlar commented on #144
So the working one with `rg` looks something like this:

[code]

[2017-06-12 23:05] jacktasia commented on #144
Thanks for the debug output. Fixed `git-grep` so it won't limit to a certain set of file extensions if searching from an extensionless file. It may be a few hours before MELPA picks up the change.

[2017-06-13 03:05] terlar commented on #144
Perfect! It is working now. Would it be possible to either have a toggle to let rg search through hidden files with a toggled variable and also be able to control the ignore list could be a great addition. Alternatively some way to inject option switches that will be given to the command.

Right now `git-grep` works, but if I have a project with "hidden" directories, like my `dotfiles` it would no

[2017-06-27 00:15] redguardtoo opened #145 "add a global variable `dumb-jump-project`"
The project I'm working on is using Perforce.

I prefer `dumb-jump-project` to override the automatic project detection or else my real project can never be found because my home directory is under git control.

[2017-06-27 00:20] jacktasia commented on #145
Any reason `dumb-jump-default-project` wouldn't work?

[2017-06-27 01:48] redguardtoo commented on #145
`/home/cb/.git` already exists. `/home/cb/projs/p4-project` is my perforce project.
Your code might use `locate-dominating-file` to find project root. So `/home/cb` is found because `.git` exists there. So `dumb-jump-default-project` doesn't have a chance.

My company has strict policy on security, so I want to avoid creating any `denoter` file or directory in case I accidentally commit the denote

[2017-06-27 02:00] jacktasia commented on #145
Yeah, adding a `.dumbjump` file to your project would be the easiest solution, but since I feel so bad that you're forced to use Perforce I went ahead and added this: 8c78bf3

This will automatically be available via MELPA in a few hours.

[2017-06-27 02:14] redguardtoo commented on #145
Great. Thanks

[2017-06-27 13:21] #145 closed

[2017-06-30 10:12] pengpengxp opened #147 "Symbol's function definition is void: -non-nil"
I find it was used in this function:
[code]
I have installed all the required packages ：
Requires: emacs-24.3, f-0.17.3, s-1.11.0, dash-2.9.0, popup-0.5.3

But It's always void.

[2017-06-30 10:24] jacktasia commented on #147
[-non-nil is a dash.el function](https://github.com/magnars/dash.el#-non-nil-list) so this seems like an issue on your end. Do you have any more details? Maybe try re-installing the packages or restarting emacs?

[2017-07-03 02:29] jacktasia commented on #147
Closing for now, but happy to re-open if you have any actionable details in the future.

[2017-07-03 02:29] #147 closed

[2017-07-03 02:46] paul-xie-rs commented on #147
Because I had download an old dash.el in my `site-lisp' directory. I just fix it by deleting it. Thank you very much :)

[2017-07-03 02:47] pengpengxp commented on #147
Because I had download an old dash.el in my `site-lisp' directory. I just fix it by deleting it. Thank you very much :)

[2017-07-21 07:52] jacktasia opened #150 "lexical-bindings and emacs 24.3"
Using lexical-bindings [seems to break tests for 24.3](https://travis-ci.org/jacktasia/dumb-jump/jobs/255939067) as found via #149

[2017-07-24 04:18] tjaartvdwalt opened #151 "distinguish definition from references"
First off, I love dumb-jumb. Thanks for a great project.

I did not have to configure much to get it working. With this "default" config, I get a popup menu with the completion options. Most of the lines are other references to the function, and one is the function definition itself.

Often I want to go to the definition, and sometimes I find it hard to spot. Is there a way that the definition cou

[2017-07-25 07:05] jacktasia commented on #151
Thanks for the kind words and for opening this issue. I agree it's a good idea to display the definition type when displaying results. That said, this could be a bug in dumb-jump or an edge case where it seems wrong because of something unique to your project because having to choose, particularly between different types of definitions should be pretty rare (from my experience).

For some language

[2017-07-25 17:00] tjaartvdwalt commented on #151
Thanks for the explanation.

Currently I am writing Ruby. (see screenshot below)

In this example I executed dumb-jump on the `file_it` method.

![2017-07-25-095348_swaygrab](https://user-images.githubusercontent.com/2066766/28583778-3802c702-711f-11e7-8c03-41f8767e6d08.png)

[2017-07-25 18:19] tjaartvdwalt commented on #151
I set the `ivy` selector as you suggested in your original post. This makes it much easier to find the definition (in the Ruby case I simply narrow using `def`)

If you want, we can close this bug.

[2017-07-26 01:03] #150 closed

[2017-07-31 09:18] academikuser opened #153 "dumb-jump-prompt-user-for-choice: Invalid function: helm-build-sync-source"
I am getting the following message
`dumb-jump-prompt-user-for-choice: Invalid function: helm-build-sync-source`
when trying to jump to a definition with
`dumb-jump-quick-look`    called when my cursor is on myfunction   in  Main.Rmd

Here is my setup:
`pwd    ~/myProject`
`tree`
├── .git
├── Index
│   |-----Main.Rmd
│   |-----.dumbjump

file: ~/myHelperFunctions/R/myfunction.R

`myfunction <- func

[2017-07-31 09:34] academikuser commented on #153
Ok, changed three things and now dump-jump is working as expected.
1. move .dumbjump to the same level as .git.

    pwd ~/myProject
    tree
    ├── .git
    ├── .dumbjump
    ├── Index
   │   |-----Main.Rmd

2. trash helm and helm-projectile
`z elpa && trash helm-proj*  helm-20*`

3. restart emacs to reinstall the packages.

[2017-07-31 09:47] academikuser commented on #153
It also seems to be quite important to have the trailing slash
`    (setq dumb-jump-default-project "/Volumes/HDD/Users/thomas/myHelperFunctions/")`

not

`    (setq dumb-jump-default-project "/Volumes/HDD/Users/thomas/myHelperFunctions")`

[2017-08-02 09:42] paynito commented on #153
Same thing is happening to me, with quick look and dumb-jump-go.  Any more tricks to debug this?

    dumb-jump-prompt-user-for-choice: Invalid function: helm-build-sync-source
    helm-M-x: Invalid function: helm-build-sync-source

[2017-08-02 17:06] jacktasia commented on #153
@paynito Have you tried re-installing `helm`? It looks like that's what @academikuser ended up  having to do.

[2017-08-10 06:36] tek-nishi opened #155 "git grep path problem"
git grep failed unicode path.

ex.

fatal: Not a git repository

I made work around.

https://gist.github.com/tek-nishi/45580226be67f1604d7587567f89edfa#file-my-dumb-jump-el

thank you.

[2017-08-10 07:39] #142 closed

[2017-08-10 07:58] jacktasia commented on #155
Thanks for reporting this! I am hoping to find some time to integrate your change and get the tests passing soon.

[2017-08-10 10:19] mandarvaze commented on #142
Thanks.

So when can I get these changes?
I installed dumb-jump via MELPA

[2017-08-10 17:18] jacktasia commented on #142
@mandarvaze The changes are on MELPA now (it can take up to 6 hours for MELPA to pick up changes), but just make sure you refresh your package list. Please let me know if you run into any issues. Thanks!

[2017-08-12 19:37] genehack opened #156 "Doesn't recognize extension-less Perl files using `cperl-mode`"
When editing a Perl file that doesn't have an extension (e.g., a command script in Perl), using `cperl-mode`, currently `dumb-jump` reports `Could not find rules for ’. file’.`.

Since `cperl-mode` is the most common mode for editing Perl files in Emacs, this is unfortunate. Pull request to fix this incoming in just a second tho. 8^)

[2017-08-12 20:08] #156 closed

[2017-08-15 17:17] jacktasia commented on #153
I am closing this, but more than happy to re-open if people are still having issues. Just comment here. Thanks

[2017-08-15 17:17] #153 closed

[2017-08-17 00:04] mandarvaze commented on #142
I now have `20170810.39` version of dumb-jump
"go to definition" seems "hit-and-miss"

e.g. In 3 tries, one of them worked, other could not find the `def` defined in the same file
In the third case, it did not work, but got an error like "Took over 2s to find ... please install ag or rg.." But I don't think `ag` not accessible since `C-M-g` and `C-M-p` works well for `python` project.

case where

[2017-08-18 04:29] jacktasia commented on #142
@mandarvaze Thanks for the report! Would you be willing to make a full example of the two not working cases? This will make it way easier for me to fix since I don't use elixir myself. Thanks!

cc @rockwood any ideas?

[2017-08-18 04:40] rockwood commented on #142
@mandarvaze Thanks for the heads up.

I've only tried with `ag` myself, and that seems to be working pretty well. Would you be able to put together an example repo that I could take a look at?

[2017-08-19 13:03] mandarvaze commented on #142
@rockwood  I have `ag` installed on my machine, so I assume dumb-jump is already using that (when it works for say python) Is there a way to find out for certain ?

@jacktasia Here is a code file.

[code]

When I do `C-M-g` on `insert_or_update_user` inside of a `callback` function, it **should** jump to the function definition few lines below. But it does not. I see error mentioned earlier.

[2017-08-21 06:55] jacktasia commented on #142
@mandarvaze Thanks for the example. If you're using dumb-jump within a project that is also a git repo then it'll be using `git-grep` under the hood by default.

You can get debug output to the `*Messages*` buffer by doing `(setq dumb-jump-debug t)`, but I tested your example (with an empty `.dumbjump` file as the denoter) and it worked for me so it could be an issue with `git-grep`.

You can forc

[2017-08-21 09:13] mandarvaze commented on #142
@jacktasia Here is the output from the `*Messages*` buffer after setting `(setq dumb-jump-debug t)`

[code]

I compared the output with the output when it works with my python project.
Now,  I **know** the problem.

The **last** argument is wrong. That is **not** where my code resides, and no wonder it does not find what it is looking for.
FWIW, the code where it doesn't work is NOT a git repo. Do

[2017-08-21 17:28] jacktasia commented on #142
@mandarvaze Thanks for the debug info. You should add an empty `.dumbjump` file to your project root. Usually dumb-jump can automatically figure out your project root by continuously looking at parent directories until it sees a [project denoter](https://github.com/jacktasia/dumb-jump/blob/497f5e68e01f71612f1d2d4040ed55e501c6ed03/dumb-jump.el#L944), but if it can't it will stop at your home direct

[2017-08-22 16:16] mandarvaze commented on #142
@jacktasia  (I promise this is the last comment in this thread. Thank you so much for being patient)
**All** my projects are under `/projects`

Several of them are "git" projects and have `.git`

At the same time several of them are NOT git projects (Sometime, I'm just trying something like in the original case, I was writing almost similar code to udemy course - so I didn't think I need to commit

[2017-08-22 18:24] jacktasia commented on #142
@mandarvaze No worries! Happy to help.

#145 has the best breakdown on the difference.

If your projects have their own directories then the easiest thing is just to do `touch .dumbjump` inside each directory. So dumb-jump knows the bounds of each project. This should be the fastest for both you and dumb-jump. If they don't each have their own directories then setting `dumb-jump-project` is probab

[2017-08-24 06:22] tek-nishi commented on #155
I made a new work around.
Please forget my last suggestion.

1. I added this code.

;; git grep  utf-8-hfs path work around
(defun my-shell-quote-argument (shell-quote-argument str)
  (funcall shell-quote-argument (ucs-normalize-NFD-string str)))
(advice-add 'shell-quote-argument :around 'my-shell-quote-argument)

2. and,

(setq dumb-jump-git-grep-cmd "git -c core.precomposeUnicode=false grep")

d

[2017-08-24 06:29] tek-nishi opened #158 "shell-quote-argument problem in dumb-jump-generate-ag-command and dumb-jump-generate-rg-command"
Hi. dump-jump is great plugin for emacs.

I found no shell-quoted arguments.

1.  dumb-jump-generate-ag-command

- (dumb-jump-concat-command cmd exclude-args regex-args proj)
+ (dumb-jump-concat-command cmd exclude-args regex-args (shell-quote-argument proj))

2. dumb-jump-generate-rg-command

- (dumb-jump-concat-command cmd exclude-args regex-args proj)
+ (dumb-jump-concat-command cmd exclude-arg

[2017-08-28 07:41] jacktasia commented on #158
Thanks for opening this issue. I agree there's an edge case here with unicode characters in the path, but I haven't been able to make these changes work with the current tests. I'd also like to add more tests for this case too. I'll update this ticket when I make progress, but I'll happily take a PR from anyone reading. Thanks again!

[2017-09-04 10:31] AShedko opened #159 "Julia-lang support"
Is there a chance support for julia (julialang.org) is coming?

It just reached 46 on TIOBE this august and it has an emacs mode.

[2017-09-04 23:24] #159 closed

[2017-09-04 23:28] jacktasia commented on #159
@AShedko Thanks for opening this issue! I've just pushed up _basic_ julia support. I have zero experience with julia, but I was able to successfully jump around[ this julia repo I found](https://github.com/GiovineItalia/Gadfly.jl).

The changes should be available via MELPA in ~6  hours. Please let me know if you run into any issues with it or have any specific requests. Thanks!

[2017-09-06 04:11] jacktasia commented on #159
This is now on MELPA. Please let me know if you run into any issues with it or have any specific requests. Thanks!

[2017-09-07 01:35] sshaw opened #161 "Support Finding Definitions from HAML"
Not sure if explicit HAML support is needed or some config setting is required to piggyback on the supported language using HAML.

[2017-09-07 01:44] jacktasia commented on #161
Thanks for opening this! I'd definitely like to support something like this. Right now dumb jump figures out what language you're using by the file extension or major mode of the file you're jumping from. If HAML means always jump to ruby within the project then this should be very easy to add. I don't really use ruby or HAML, but it seems like this is the case, yes? If not, I'd need to add in a w

[2017-09-07 01:54] jacktasia commented on #161
@sshaw Actually [it looks like](https://github.com/jacktasia/dumb-jump/blob/master/dumb-jump.el#L904) it _should_ already work with files with `.haml` extension. Are you using a different extension? If it's not working for you can you please share the repo or details so I can try to get a fix in? Thanks!

(Also, btw I populated that link above using `git-link` in emacs. Great package!)

[2017-09-08 01:05] sshaw commented on #161
I was using a 201612 version. Using the latest version it works.

How about ERB? There I get `Could not find rules for '.erb file'.`.

One thing to note is that HAML can be used in other languages.

[2017-09-08 01:12] jacktasia commented on #161
Gotcha, makes sense. Glad it's working for you now.

There was no rule for that, but [I just pushed it up](https://github.com/jacktasia/dumb-jump/commit/6cc7a67a796b9a8a216bac83241b214a2ba6769b). It can take a few hours before MELPA picks up the change though.

Thanks for the heads up. Is this currently an issue for you?

[2017-09-10 21:39] jacktasia commented on #161
Closing this for now, but if someone comes across this wanting HAML support for another language then please comment here and let me know.

[2017-09-10 21:39] #161 closed

[2017-09-11 00:45] sshaw commented on #161
Not for me. Thanks!

[2017-10-24 14:48] svileng opened #167 "Elixir/Alchemist Go To Definition brings "Visit tags table" quickfix"
I originally posted this issue on Spacemacs' repo:

syl20bnr/spacemacs#9756

But sounds like it was more appropriate to report here. Please let me know if there is any other info I could provide to help fixing the problem.

Thanks!

[2017-10-24 15:20] jacktasia commented on #167
Thanks for the report. I am not sure where `Visit tags table (default TAGS): ` is coming from, but it's not dumb-jump. It doesn't use TAGS, which is kind of the whole point of this project.

Some ideas:

Check what `SPC m g g` is bound to. I am guessing Elixir has some other layer/package installed.

Try manually triggering `dumb-jump-go` instead of using the above keybinding.

Please let me know

[2017-10-26 06:36] #167 closed

[2017-10-26 15:28] svileng commented on #167
Thanks for the suggestions @jacktasia!

Using dumb-jump-go manually does seem to work, so it is indeed not an issue with the package. I'm relatively new to Spacemacs/Emacs — do you know how can I find out what is the package responsible for `SPC m g g` shortcut in Elixir mode?

Thanks a lot!

[2017-10-26 19:53] jacktasia commented on #167
@svileng If you manually call `describe-key` and do <kbd>SPC m g g</kbd> it will tell you what it's bound to, by default `describe-key` is bound to <kbd>C-h k</kbd> and it looks like it's <kbd>SPC h d k</kbd> in spacemacs

Here's where I found that:
https://github.com/syl20bnr/spacemacs/blob/master/doc/DOCUMENTATION.org#getting-help

[2017-11-02 00:07] agzam opened #168 "Clojure predicates not recognized correctly"
It seems when you have:

`(defn dev? ...)` and `(defn dev ...)` - which are clearly two different functions, and if the cursor at `dev`, `dumb-jump-go` would prefer to jump to `(defn dev?)` - the wrong one.

That I guess happens because `dev?` is at the top of the file, and `dev` is declared few lines later. Nevertheless `dumb-jump` should not see `dev` and `dev?` as equal symbols.

[2017-11-02 00:18] agzam commented on #168
This probably simply requires setting `dumb-jump-find-rules` correctly, I'm gonna try doing that, although Emacs regexes sometimes intimidate me.

[2017-11-02 01:37] jacktasia commented on #168
Thanks for the report! I think there's a few things going on in this case. I think what you said is correct, but I also think that `(bounds-of-thing-at-point 'symbol)` does not consider the `?` to be part of the symbol at point.

I'll try to look into this further later today (or this week).

If you could try setting `(setq dumb-jump-debug t)` and then triggering this case again and then copy/past

[2017-11-02 17:32] agzam commented on #168
So I have a build.boot file with: `defn- dev-env?` `(deftask dev-env)` when I try to use `dumb-jump-go` from `dev-env` symbol it takes me to `dev-env? function`. This is the output of debug:

    -----
    DUMB JUMP DEBUG ‘dumb-jump-run-command‘ START
    -----

    cmd:
        git grep --color=never --line-number --untracked -E \\\(def\\s\+dev-env\(\$\|\[\^\\w-\]\)\|\\\(defn-\?\\s\+dev-env\(\$\|

[2017-11-02 17:43] agzam commented on #168
Maybe it's also worth reviewing how `dumb-jump` works with Clojure forms like:

    (require '[app.server :as srv])
    (require '[app.db :as db])

    (srv/run)
    (db/run)

Do you think it would be possible to make it more intelligent? So it would take to `app.server/run` and to `app.db/run`?

[2017-11-02 18:50] jacktasia commented on #168
@agzam Thanks for the debug output! I'll definitely fix things so `deftask` and functions with `?` work as expected in clojure. Probably by this weekend at the latest.

It's certainly possible.

For me, yes. In my opinion this would make dumb-jump no longer "dumb" and require a pretty big re-write for how things are currently done. The idea for dumb-jump is to "just work" most of the time, but not

[2017-11-02 21:29] agzam commented on #168
well, here's the thing: https://github.com/syl20bnr/spacemacs/pull/9792

I wish there was something lightweight, maybe based on Lumo, that would help navigating Clojure/script projects. Until then dumb-jump is a good alternative

[2017-11-06 00:24] #168 closed

[2017-11-06 05:05] jacktasia commented on #168
@agzam The version of dumb jump now available in MELPA should fix the issue you described here with the `?`s, but I think I also need to add support for `deftask`s? Please let me know how this works for you. Thanks!

[2017-11-06 18:48] agzam commented on #168
@jacktasia kudos for fixing it so quickly! I will definitely test it out later today. Should I expect these changes to be on MELPA or should I grab the package from GH?

[2017-11-06 18:50] jacktasia commented on #168
No problem!

Awesome, thank you!

It looks like MELPA already has the changes so you should just have to update via Emacs (and maybe restart)

[2017-11-07 01:34] agzam commented on #168
@jacktasia I just have tried, I think it works correctly now! Thank you very much!

[2017-11-07 01:36] jacktasia commented on #168
Awesome! Thanks for letting me know!

[2017-11-07 02:23] agzam opened #171 "dumb-jump-go-other-window doesn't work for local definitions"
I'm seeing strange behavior. Maybe I need to set some vars, I dunno.

Basically. When I use `dumb-jump-go-other-window` - it would show me a helm-buffer with the choices, but it wouldn't show definitions in the current buffer (and there's one).

This can be reproduced by doing the same thing as described in #168

However, It would take to the correct, local definition if pressed `Esc` (If I select

[2017-11-07 03:11] jacktasia commented on #171
Thanks for the report! I'll see if I can reproduce (and fix) and report back.

[2017-11-12 16:43] jojojames opened #172 "Dumb-Jump using fallback mechanisms"
Hi, thanks for the awesome package! I'm curious if there was any chance of supporting GoToDefinition in a more
waterfall/fallback driven approach.

I find myself redefining/creating a lot of similar functions so that I can use
dumb-jump as a fallback in case the primary method of GoToDefinition fails.

Along with that, sometimes there are various methods I'd like to try before
giving up, and falli

[2017-11-12 19:02] jacktasia commented on #172
Thanks for opening this issue and the kind words. I think this is a really good idea, and I am certainly open to doing something like this, but my initial gut feeling is that what you're describing should be its own, higher level, package (maybe called `smart-jump`).

What do you think about this being its own package? I am going to think about this a bit more and look into how spacemacs does this

[2017-11-12 19:17] jojojames commented on #172
Hmnn, yeah another package would work too. smart-jump would be a good name for it for sure..

[2017-11-14 10:09] Opioid opened #173 "Excluding path in .dumbjump doesn't seem to work with rg"
I have added a .dumbjump next to .gitignore at project root. It has the following content:

-/WebVisualization

Yet, my dumbjump (forcing rg) are full of WebVisualization/* results. Am I using it wrong?

EDIT: After using it on different symbols I did not get WebVisualization results any more, but the problem remained for the original search. Is there some kind of cache?

[2017-11-14 19:07] jacktasia commented on #173
Not in dumb-jump. You can try setting `(setq dumb-jump-debug t)` and looking in *Messages* for the output. If you still think there's a bug and you're willing to share the debug output then I'll dig in and see if I can figure out what's going on. Thanks!

[2017-11-15 12:58] Opioid commented on #173
This is part of the result:

`Quit
-----
DUMB JUMP DEBUG ‘dumb-jump-run-command‘ START
-----

cmd:
	rg --color never --no-heading --line-number --type js --type html --type css -g ^"^!/WebVisualization^" ^"^(service^|factory^)\^(['\^"]view['\^"]^|\bview\s*[=:]\s*\^([^^\^)]*\^)\s+=^>^|\bview\s*\^([^^\^)]*\^)\s*[{]^|class\s*view\s*[\^(\{]^|class\s*view\s+extends^|\s*\bview\s*=[^^=\n]+^|\bfunction\b[

[2017-11-16 01:26] jacktasia commented on #172
Closing this for now but I am open to discussing more and/or collobrating if you want to take the lead on a `smart-jump` package.

[2017-11-16 01:26] #172 closed

[2017-11-16 01:39] agzam opened #174 "Still doesn't seem to be working correctly with clojure forms"
Sorry for annoying you again, but it seems `dumb-jump-go` still doesn't recognize clojure forms correctly.

For example, if there is a function called `foo*` and then a macro `foo`, and macro consumes the fn, e.g.:

    (defn- foo* [option]
       ,,,)

    (deftask foo []
      (when @server (foo :start)))

instead of jumping to `foo`, it would go to `foo*`, I guess there's gotta be some kind of

[2017-11-16 01:44] jacktasia commented on #174
Thanks for the report! I think this is similar to the `?` issue which was related to the referral word boundary. Also I need to add `deftask` to the clojure but this should be easy for me to change.

[2017-11-16 04:55] #174 closed

[2017-11-16 18:16] jacktasia commented on #174
There's an update available via MELPA which should have a fix for this. Please let me know how it goes. Thanks!

[2017-11-18 16:17] jojojames commented on #172
@jacktasia I've written an initial implementation of it here.

https://github.com/jojojames/smart-jump

Would love your input/feedback if you had some free time.

I'll dogfood it in the meantime.

[2017-11-18 22:47] jacktasia commented on #172
Awesome! This looks good. I can't comment too much on the implementation without tests, but everything certainly looks sane to me. I know you said this is your initial implementation so sorry if any of this is feedback obvious to you.

* I think your README looks great. I made a small PR with some small tweaks.

* I'd rename `dumb-jump-fallback` to `smart-jump-dumb-fallback` or something that keep

[2017-11-19 17:12] jojojames commented on #172
@jacktasia Thanks! I'll take all of that into consideration.

[2017-11-22 18:48] ahungry commented on #97
How's this coming along?  Another request for typescript support here - does it make sense to do the shared rule base (is it used in any other language?) - otherwise, maybe a fresh implementation would work best.

[2017-11-22 18:49] ahungry commented on #97
I haven't had a chance to dig through dumb-jump code yet, but if the parsing is in anyway similar to what ctags uses, this is the regex I use in my ~/.ctags file for typescript support:

[code]

[2017-11-22 18:59] jacktasia commented on #97
@ahungry Thanks for commenting!

I honestly haven't looked in to this since my last comment, but seeing all the 👍 s in here is making me want to make this a priority.

I am now leaning towards a fresh implementation (not inheriting from javascript)

Awesome! This should be very helpful! I'll try to get this into dumb-jump sometime over the long weekend. Thanks again!

[2017-11-22 19:09] ahungry commented on #97
Np!  All the thanks belong to you, thanks for a great package!

[2017-11-30 15:14] ahungry opened #179 "Should dumb-jump use (thing-at-point 'sexp) instead of (thing-at-point 'symbol) ?"
Some very rough preliminary testing shows them to return the same results in a few different file types that I've checked, however in Common Lisp, this is a valid function call/name for a function titled `#/something`:

`(#/something "here")`

If the cursor is on the `#`, it won't find a valid symbol, while it will find the match if using the sexp type (I assume the sexp is just grabbing until the

[2017-11-30 18:52] jacktasia commented on #179
Thanks for opening this! You're definitely on to something and this may be the proper solution for the likes of #168 and #174 (vs what I actually did). I _thought_ I had started with `sexp` then moved over to using `symbol` (for a reason I can't remember) but after a very quick look I can't find evidence of this.

I am definitely going to look closer into this tonight or this weekend and report ba

[2017-11-30 20:04] ahungry commented on #179
Thank you for a wonderful package and prompt response!

[2017-12-07 15:40] rswgnu opened #182 "Bad 'Tags' link on the project home page"
Under the Alternatives section, the 'Tags' link is now bad.
You probably want:
  https://www.gnu.org/software/emacs/manual/html_node/emacs/Tags-Tables.html

[2017-12-07 19:23] Glumanda99 opened #183 "php declaration not found"
I tried to play around with `dumb-jump-force-searcher` and even created a `.dumbjump` file in my project root dir, but it will never find any declaration. This package just doesn't do what it is supposed to do. I've no clue what it is doing but I see no search going on here. It just always ends with

[code]

Setting `dumb-jump-debug` won't tell me anything.

The project I'm working on is a symfony

[2017-12-07 19:41] #183 closed

[2017-12-07 20:04] jacktasia commented on #183
I see you closed this issue already. Did you figure out why things weren't working for you? If so, it'd be great if you comment back on what you did just in case other people run into similar issues going forward. Thanks!

[2017-12-07 20:33] #182 closed

[2017-12-07 20:33] jacktasia commented on #182
Thanks!

[2017-12-07 20:37] rswgnu commented on #182
And thanks for your work on dumb-jump.

[2017-12-08 13:10] Glumanda99 commented on #183
@jacktasia Thanks for your fast response! I was in rage mode, sorry and wanted to sleep a night to think about. So I got it working today, after I read about [how to debug dumb-jump](http://p.cweiske.de/506). I didn't know that before and got angry. Maybe there should be instructions about how to debug this package in the readme?

[2017-12-08 19:32] jacktasia commented on #183
Thanks for letting me know! I totally agree. I've updated the README: https://github.com/jacktasia/dumb-jump/blob/master/README.md#debugging-a-jump

[2017-12-10 16:42] dleslie opened #184 "No rules for Scheme?"
Although it appears that `dumb-jump` is aware of Scheme comments, it doesn't appear to understand what to do with `scm` files.

[2017-12-10 19:58] jacktasia commented on #184
That's correct. If it's not in the language list in the README then it's not supported (yet). PRs are definitely welcome though!

[2017-12-11 18:51] dleslie commented on #184
Sure, @jacktasia how do I execute the tests? I've never used cask.

[2017-12-11 20:36] jacktasia commented on #184
It's in the README, here's a direct link to the running tests part: https://github.com/jacktasia/dumb-jump#running-tests

The cask README has instructions on how to install: https://github.com/cask/cask#cask

[2017-12-13 19:14] jacktasia commented on #184
haha, no problem! it's pretty long now. so totally understandable 😄

Awesome, thanks! Don't hesitate to ask questions if you have any issues.

[2017-12-14 01:43] #184 closed

[2017-12-14 03:48] dleslie opened #186 "Erroneously matches sub-words?"
I noticed this behaviour just after submitting the Scheme support, but it matches the existing behaviour found in the elisp support.

I think it's best described in code:
https://github.com/dleslie/dumb-jump/commit/47bd47654e5049c83a5cc2aa35747e34b81f85c0

Should those new `not` tests pass? They do not at present, and I suspect it's because `\\j` word boundaries aren't working as intended. Unless

[2017-12-14 03:53] jacktasia commented on #186
Thanks for opening this! This is probably related to this: #181 and #179 That is, it's about what emacs is getting at point. I think. You can verify by turning on the debug flag which is described in the readme. Please let me know what you find. Thanks!

[2017-12-14 04:22] dleslie commented on #186
I was under the impression the `not` tests were applied directly to the underlying search provide, be it `rg`, `ag` or other? Anyhow...

For this:
`(defun tester () ...)`

`thing-at-point` will be `tester` for either `sexp` or `symbol`; but I'm looking for the definition of `test`. I can see people wanting this sort of result to show up, however, because they may be trying to recall the full name

[2017-12-14 05:02] jacktasia commented on #186
Ohhh, I see now. Sorry, when I first read this it was on my phone and clearly read it too fast and assumed it was the issue(s) I mentioned. I see what you're saying now and will look closer soon.

[2018-01-06 01:27] jojojames commented on #43
@jacktasia

The swift support works great. I think where it falls a little is when trying to jump to an ObjC declaration from a Swift file (and vice versa) due to the languages have interop with each other. Similarly (java<->kotlin) and maybe (erlang<->elixir).

It might be nice to support that kind of jump. Maybe I can support it in smart-jump if it's not appropriate in dumb-jump if there was an

[2018-01-06 01:36] jacktasia opened #192 "Support Language interoperability"
Generic support for jumping between different languages that can be part of the same project and call one another.

Examples:

java<->kotlin
erlang<->elixir
swift<>-objc

[2018-01-06 01:36] jacktasia commented on #43
@jojojames Thanks, good points. Let me think about this a bit and get back to you. Made a new issue so this doesn't get lost: https://github.com/jacktasia/dumb-jump/issues/192

[2018-01-06 10:08] netromdk commented on #192
Should dumb-jump then detect what languages are used in the file automatically or does the user need to hint somehow? If it detects used languages then it's not enough with a random order: If you're in some ObjC code it shouldn't try to jump as Swift code instead. I like the general idea though.

[2018-01-07 08:53] dogsleg opened #194 "Test dumb-jump-pick-grep-variant-git-grep-in-git-repo failed"
Hi,

while running tests I'm getting one test failed.

    Test dumb-jump-pick-grep-variant-git-grep-in-git-repo backtrace:
      (if (unwind-protect (setq value-792 (apply fn-790 args-791)) (setq f
      (let (form-description-794) (if (unwind-protect (setq value-792 (app
      (let ((value-792 (quote ert-form-evaluation-aborted-793))) (let (for
      (let ((fn-790 (function generator-plist-equal

[2018-01-07 09:05] dogsleg commented on #194
Hmm, it is a locale-related issue. With LANG=C.UTF-8 LC_ALL=C.UTF-8 prefixed the test passes correctly, but I'm getting another thing:

    ("rg FAILURE '(defvar test ' NOT in response '' | CMD: 'git grep --color=never -h --untracked -E  \\\\\\
    (defvartest\\\\b\\\\s\\*' | rule: '(:type variable :supports (ag grep rg git-grep) :language elisp :regex \\
    (defvarJJJ\\b\\s* :tests ((defvar test

[2018-01-07 09:13] jacktasia commented on #194
Thanks for the report.

Assuming that's happening just before ` passed  139/144  dumb-jump-test-git-grep-rules-fail-test` then that's expected because we're testing an expected failure but the function outputs on errors to be helpful which is admittedly confusing in this case. I'll look into making it not output in this case, but please let me know if that's where you're seeing that message. Thank

[2018-01-07 09:20] dogsleg commented on #194
I see that message exactly here:

    passed  134/140  dumb-jump-test-ag-rules-test
    ("rg FAILURE '(defvar test ' NOT in response '' | CMD: 'git grep --color=never -h --untracked -E  \\\\\\
    (defvartest\\\\b\\\\s\\*' | rule: '(:type variable :supports (ag grep rg git-grep) :language elisp :regex \\
    (defvarJJJ\\b\\s* :tests ((defvar test ))'")
    passed  135/140  dumb-jump-test-git-grep-

[2018-01-07 09:24] jacktasia commented on #194
Thanks. Looks expected since it's right before the `dumb-jump-test-git-grep-rules-fail-test` I mentioned, but since you're showing a lower amount of total tests (140 vs 144) I have to assume you're running an older version. I'd recommend updating to the most recent version if possible, but tests might fail if you do (which should be fixed with #193), because dependency f.el recently made a backwar

[2018-01-07 09:27] dogsleg commented on #194
Thanks for your responses! I'm running 0.5.1 (from Sep 2017).

[2018-01-07 09:33] jacktasia commented on #194
No problem!

Thanks for the info. I really need to release a new stable version since the master branch has definitely changed a lot since the `0.5.1` release. I plan on doing a new release shortly after I merge #193.

[2018-01-07 09:47] dogsleg commented on #194
OK, thanks! I'm closing the issue.

[2018-01-07 09:47] #194 closed

[2018-01-07 23:50] tkadur opened #195 "SML support?"
Thanks for the great plugin! I was wondering if it would be possible to add support for Standard ML - since OCaml is already supported, I hope it's not too much work, but I'm not sure.

[2018-01-08 00:04] netromdk commented on #195
They are related but the [syntax varies a lot](http://adam.chlipala.net/mlcomp/) actually. But I guess support for val/let bindings, functions, and data types are what is mostly needed.

[2018-01-08 05:14] jacktasia commented on #195
@tkadur Thanks for opening this issue!

@netromdk Please let me know if I can help with this. Seems like you know (way) more about SML and OCaml than me. Usually, in these cases, I try to just find a good example repo on GitHub to test against but if you're down to add support then awesome. Thanks!

[2018-01-08 07:24] #137 closed

[2018-01-08 20:23] netromdk commented on #195
@jacktasia it has been implemented now. :)

[2018-01-08 20:29] #195 closed

[2018-01-09 21:48] netromdk commented on #186
This issue can be closed now, right @jacktasia?

[2018-01-09 21:50] netromdk commented on #173
@Opioid, try writing simply:
[code]

[2018-01-09 22:55] jacktasia commented on #186
@netromdk Yeah, that's my understanding. I am closing it. @dleslie Please let me know if you're still running into issues.

[2018-01-09 22:55] #186 closed

[2018-01-10 16:55] netromdk commented on #151
Let's close this, @jacktasia?

[2018-01-10 17:04] jacktasia commented on #151
@netromdk Sounds good. Closing.

[2018-01-10 17:04] #151 closed

[2018-01-25 01:50] amake commented on #97
I translated @ahungry's rules into a custom config available here:
https://github.com/amake/.emacs.d/commit/c4307e9605b71d2e603fde9ca4354cd60fac359f#diff-64ed6d0a7a4f2eaf33cacc2454a19cffR402

I'm not that familiar with TypeScript so I'll be testing for a while before considering opening a PR. If anyone has improvements or corrections please let me know.

[2018-01-25 01:55] jacktasia commented on #97
@amake Awesome! Thanks for taking this on! I never got around to this, but I know a lot of people that want TypeScript support. Please let me know if I can help.

[2018-01-25 02:07] amake commented on #97
Actually I was wondering about the testing facility: What is the expected way to run the tests? I tried doing `M-: (dumb-jump-test-*-rules t)` and then was prompted with "Buffer .*.test modified; kill anyway?" once for every test.

[2018-01-25 02:12] jacktasia commented on #97
Basically just `cask` then `make test`:
https://github.com/jacktasia/dumb-jump#running-tests

That will run all code tests and all rule tests for every searcher you have installed. Alternatively you can just create a PR and TravisCI will automatically run the tests every time you push into that branch.

[2018-01-25 03:10] it6 commented on #97
I started using https://github.com/ananthakumaran/tide which comes with default jump to definition.

Which works pretty well for typescript (leveraging tsserver language services).

It is bound to `M-.  (tide-jump-to-definition &optional ARG)`

May not need this to be part of `dumbjump` anymore, If you all agree I can close this.

[2018-01-25 04:33] jacktasia commented on #97
@it6  I am glad you found a solution that works well for you, but the main reason I made dumb-jump was to have a general solution that did not require additional configuration and/or a language-specific process/library/tool. I definitely see the value in these more advanced/smart tools, but I definitely want dumb-jump to support as many languages as possible, so let's keep this open.

[2018-01-26 02:11] jacktasia commented on #173
@Opioid I am going to close this, but if @netromdk's solution still doesn't work for you please let me know. Thanks!

[2018-01-26 02:11] #173 closed

[2018-02-01 15:19] nickdrozd commented on #25
@jacktasia I spent several minutes yesterday thinking `dumb-jump` was busted because it kept dropping me off four or five lines above the functions I was searching for. Then I realized the file wasn't saved, and I thought "That's stupid, why doesn't it prompt to save before searching?" Then I came here and discovered that someone else had the exact opposite complaint ("This sucks, why does it keep

[2018-02-01 19:13] jacktasia commented on #25
@nickdrozd Are you on an old version? [It should be warning you when you jump to an unsaved buffer](https://github.com/jacktasia/dumb-jump/blob/master/dumb-jump.el#L1883), but maybe there's a bug in some case. I know I see this prompt pretty often, but if you know of a case where this failing I'd love to hear about it. For the record, here's the PR/commit where this changed: https://github.com/jac

[2018-02-14 23:46] nickdrozd commented on #25
@jacktasia This problem is on master. I took a look and I think I understand what is happening.

The function that checks for modifications is

[code]

Now, when I test this code manually, it works fine as long as I pass
in full file paths. But it doesn't get full paths, just the filename
(`dumb-jump.el`, rather than `/path/to/dumb-jump.el`).

Why is the short filename getting passed in? The actua

[2018-02-15 00:04] jacktasia commented on #25
@nickdrozd Thanks for the analysis! This appears to be an issue when using `git-grep`. I could reproduce it with `git-grep` but not when forcing `ag` (which is what I do by default). #200 fixes it for me. If you have a chance please confirm. Thanks!

[2018-02-18 19:07] nickdrozd opened #201 "Prompt for save before continue"
When I use `dumb-jump-go-prompt`, the following sequence of events
transpires (as far as I can tell, I could be wrong of course):

1. It prompts `Jump to:` and then I enter `some-function`.

2. It searches the project for `some-function`.

3. If it finds multiple definitions, it displays a popup menu for me
   to specify. I pick the definition from `file.blah`

4. It checks whether `file.blah` has

[2018-02-19 07:55] frankie8518 opened #202 "[Elisp] declaration not found"
[code]
Cursor is at `'mark-word-p` in the second function.
After `dumb-jump-go`, minibuffer says `declaration not found`
Tested under `emacs -q`

[2018-02-19 17:01] jacktasia commented on #201
Thanks for opening this issue! I agree that it makes sense to add something like this. I am thinking of adding something where it would give you more options like `[y]es, continue`, `[s]ave and continue`, `[n]o, stop` this way would allow backward compatible muscle memory :slightly_smiling_face: and it would allow other future options or even an optional hook where people could add their own via c

[2018-02-19 17:04] jacktasia commented on #202
Thanks for opening this issue. I haven't been able to reproduce it using your example. Can you please give me the [debug output](https://github.com/jacktasia/dumb-jump#debugging-a-jump) and maybe your emacs version and OS? This will help me pinpoint what exactly is happening, so I can fix it. Thanks!

[2018-02-20 12:43] measpear opened #203 "Support for VHDL"
Hi,

Is it possible to add support for VHDL language

[2018-02-20 13:13] frankie8518 commented on #202
I am sorry. Don't know why it won't jump at that time, but it works now.
I like dumb-jump, thanks for your works.

[2018-02-20 13:13] #202 closed

[2018-02-20 18:23] jacktasia commented on #203
@measpear Thanks for opening this! I would like to assume it's possible, but I have zero experience with it. If you can point me to a good VHDL example repo that I can test against I'd be happy to try to add VHDL support.

[2018-02-21 20:02] measpear commented on #203
Thanks for your kind response. Here is an award winning repo. It includes source as two different languages (vhdl and system verilog) for the same functionality.

[2018-02-21 20:07] jacktasia commented on #203
@measpear Thanks for the repo! I'll try to add VHDL support sometime this weekend.

[2018-02-22 11:45] alvarogonzalezsotillo opened #204 "Help adding new language: Latex"
I'm trying to add support for Latex files.
My first try is to find the definition of a new command:
[code]

With this code, dump-jump shows all the occurences of the symbol, not only the lines with <code>\newcommand{\acommand}{....}</code>. Is this a problem with the regexp? there is some other variables/functions to change/implement?

[2018-02-22 12:00] netromdk commented on #204
Thanks, @alvarogonzalezsotillo! Feel free to open a PR when you have something working.

When testing it will use "test" in place of "JJJ", so try this instead:
[code]

[2018-02-22 12:22] netromdk commented on #204
You can also add the latex comment to `dumb-jump-language-comments`.

Shouldn't your rule work for git-grep and rg also, @alvarogonzalezsotillo?

[2018-02-22 12:52] alvarogonzalezsotillo commented on #204
I have no idea, I'm just using what I get installed 😅

[2018-02-22 19:31] jacktasia commented on #204
@alvarogonzalezsotillo Thanks for working on this!

I am guessing `dumb-jump-fallback-search` is what's happening here. It's on by default and basically if it's on and no results are found it will try again just searching for the term under point. You might want to turn this off with `(setq dumb-jump-fallback-search nil)` and try again.

Try looking at the [debug output](https://github.com/jacktas

[2018-02-23 15:04] alvarogonzalezsotillo commented on #204
I made some changes to support `newcommand` and `newenvironment`: #205
Thanks for your tips!

[2018-02-23 15:04] #204 closed

[2018-02-25 23:41] #203 closed

[2018-02-27 01:11] jacktasia commented on #203
@measpear I added basic support for VHDL (`constant`, `type`, and `function`). Please let me know if you have any issues or need any other keywords supported. Thanks again for opening this ticket.

[2018-02-28 11:13] dogsleg commented on #194
Hi Jack!

Sorry for disturbing and raising this issue. You wrote that you plan to release a new stable version after #193 merging. As I can see it was merged more than a month ago. Could you, please, prepare a new release?

I've packaged [dumb-jump](https://tracker.debian.org/pkg/dumb-jump-el) for Debian and uploaded it to the Debian archive. Unfortunately, due to some (unknown yet) changes an [is

[2018-02-28 18:01] jacktasia commented on #194
Whoops, yup.  Sorry! Thank you for reminding me.

Yup, setting a reminder to do a release right when I get home from work tonight. I'll update this issue when I do. Thanks again!

[2018-03-01 07:02] jacktasia commented on #194
@dogsleg I released [v0.5.2 ](https://github.com/jacktasia/dumb-jump/releases/tag/v0.5.2). Thanks again for the reminder and sorry for the delay. Please let me know if I can help with anything else. Thanks!

[2018-03-01 10:46] dogsleg commented on #194
Thank you very much, @jacktasia!

[2018-03-24 00:46] muirrn opened #208 "ruby grep rule for "alias" and "alias_method""
We use method aliasing occasionally in our ruby code base and I found dumb jump didn't know about them. I'm using this rule, which I think is generalizable for everyone:

[code]

Of course it doesn't take you to the _actual_ definition of the method, but taking you to the alias definition is halfway there and better than nothing.

Finally I want to say dumb jump works great! I tried robe for ruby,

[2018-03-24 02:43] jacktasia commented on #208
Awesome! Thanks for sharing this! I made a PR adding them here #209.

I am happy to hear dumb jump is a good solution for you. People don't always (immediately) see the value in the "dumb" strategy. I really appreciate the kind words :slightly_smiling_face:

[2018-03-24 02:43] #208 closed

[2018-03-26 17:39] ntc2 opened #210 "Feature Request: prefix arg `C-u` causes prompting for all commands"
There are many variants, e.g. `-other-window` and `-prefer-external`, and I believe only `-go` has a `-prompt` variant. Why not make a prefix arg of `C-u` cause prompting for all commands?

[2018-03-27 10:52] amosbird opened #211 "ivy selector doesn't support ivy-call"
Executing `ivy-call` on candidate has no effect at all.

[2018-03-27 18:16] jacktasia commented on #211
Thanks for opening this.

Can you please expand on what you're expecting this to do? I assume keep the candidate list up but still jump to it? Thanks!

[2018-03-27 18:37] amosbird commented on #211
yup, like previewing the candidate. `counsel-rg` supports that.

[2018-03-28 07:36] mthdht opened #212 "Searching in files ignored by git"
Hi, i'm laravel developper and so my vendor directory is in .gitignore file.
Is it possible to search in it anyway? (Like tell jumb-jump to ignore .gitignore file or part of it)

[2018-03-28 11:50] mthdht commented on #212
I don't why but it is working now.. i try reinstallation and no probleme. Sorry

[2018-03-28 11:51] #212 closed

[2018-03-29 08:15] fleutot opened #213 "dumb-jump-go prefers file outside of repo"
This file structure:

[code]

mycode.c:
[code]

other_file.c:

[code]
With nothing else dumb-jump related than (dumb-jump-mode t) in my init file, going `C-M-g` with cursor on `my_type_t` in mycode.c, dumb-jump jumps to the struct definition in other_file.c

I would have expected dumb-jump to prefer:
- definition in the same file
- definition in the git repo (other_file.c is in the directory, but

[2018-03-29 16:56] jacktasia commented on #213
Thanks for reporting this! I'll try to reproduce this after work tonight and see if I can figure out what's happening here.

[2018-03-30 07:20] jacktasia commented on #213
@fleutot  Thanks for providing an example! To look into this I turned on debug mode with `(setq dumb-jump-debug t)` and followed your instructions to here:

Here's what I got from debug mode when I jumped from `my_type_t` on line 14 of `mycode.c`:

[code]

This seems to match what you said, but to answer your questions/expectations:

If you look at the [C/C++ rules]( https://github.com/jacktasia/d

[2018-04-16 09:59] netromdk commented on #210
That could work but it needs to be easy to trigger from tests by name. In those cases an alias function might be fine.

[2018-04-30 10:48] olymk2 opened #214 "dumb-jump-quick-look Does not jump on a single result"
If I hover over some code and call dumb-jump-quick-look it displays a single result if you hit enter it does not jump, how ever if multiple results are returned I can move up and down the list and hit return to jump.

Seems I should get the same action for a single result

[2018-05-01 02:55] jacktasia commented on #214
Thanks for opening this! `dumb-jump-quick-look` is meant purely to see a "quick look" and not actually jump. The docs are unclear on this and I have updated them now. #215

Thanks

[2018-05-01 02:55] #214 closed

[2018-05-01 06:15] olymk2 commented on #214
Okay this feels like It would be quite nice to have, ass you can use it in place of plain old jump and get a bit of info before you jump.

but thanks for clarifying :)

[2018-05-03 21:05] krupan opened #216 "SystemVerilog support"
Would it be possible to get SystemVerilog support?  I noticed that in the VHDL issue (#203) a repository of sample code for VHDL and SystemVerilog was supplied: https://github.com/mbgh/aes128-hdl

[2018-05-03 22:31] jacktasia commented on #216
Almost certainly. I'll look into this after work tonight.

Thanks for opening this!

[2018-05-04 16:49] nloyola commented on #153
I'm running into this issue when I use `dumb-jump-go-prompt` or `dumb-jump-quick-look`. I've done what @academikuser suggested but still no luck.

Here are the package versions I'm using:

* helm-20180503.2215
* helm-projectile-20180418.2223

Any way to fix it?

[2018-05-05 07:04] jacktasia commented on #153
@nloyola Thanks for the report. Using Emacs 26 might be the issue. It's not out yet so not officially supported. Although this is a good reminder for me to make sure dumb-jump works before it's out. Thanks!

Let me try loading dumb-jump with helm on Emacs 26 and see if I can figure out what's going on.

[2018-05-05 15:40] nloyola commented on #153
Thanks for looking into it @jacktasia!

[2018-05-06 16:03] #216 closed

[2018-05-06 21:49] jacktasia commented on #153
@nloyola I just tried dumb-jump with emacs-26.1-rc1 and it worked as expected.

Please make sure helm is installed correctly:

https://github.com/emacs-helm/helm/wiki#install
https://github.com/emacs-helm/helm/issues/602

If you continue to have issues and you can include a base reproducible example I can try to help more. Hope that helps.

[2018-05-07 16:17] nloyola commented on #153
@jacktasia thanks for looking into it. Yes, re-installing the package works (note that I'm using `use-package`).

[2018-05-07 18:45] jacktasia commented on #216
@krupan I've added basic SystemVerilog support to dumb-jump. The update is now available via MELPA too. Please let me know if you have any feedback. Thanks!

[2018-05-07 20:42] krupan commented on #216
Some quick stream of consciousness observations:

It's kinda sorta working :-)  It often presents me with a long list (5 to 10) of choices when I do a dumb-jump-go, but the definition is usually in the list.  Sometimes the list is too long for me to want to search through (20ish?).  For some things it doesn't offer any choices and it just jumps to the wrong place.  It's a tough language.  I know n

[2018-05-09 05:53] jacktasia commented on #216
@krupan Thanks for the feedback. It's definitely a more complex language than I had thought. I was basing it almost purely off https://github.com/mbgh/aes128-hdl. I've made a few small improvements in #220 based on what you've said here that should be in MELPA now.

Do you know of any open source SystemVerilog repo(s) that have good examples of what dumb-jump still needs to support? Thanks again.

[2018-05-10 17:26] krupan commented on #216
You are awesome.  We SystemVerilog users rarely get any support from open source tools.

The UVM is a big bundle of open source SystemVerilog code that almost all SystemVerilog developers use:

http://www.accellera.org/images/downloads/standards/uvm/uvm-1.2.tar.gz

It's a bit of a beast and uses lots of language features that the AES core does not.

I'll update my dumb-jump package and try out you

[2018-05-11 05:11] jacktasia commented on #216
Thanks for the link! I'll take a look at the code and see what else I can add. Please let me know if you have any more feedback.

[2018-05-11 17:17] krupan commented on #216
I'm trying the latest version.  Here's a specific issue.  First file:
[code]
In another file:
[code]
Inside some_class.sv:
[code]
When I run dumb-jump-go on the first file, it jumps straight to the `include in the second file.  It should jump to the third file (some_class.sv).

[2018-05-12 15:40] jacktasia commented on #216
@krupan I tried to reproduce your `some_class` example above, but I have been unable to so far. It seems to be working as expected for me.

If you could please try in debug mode and report back the output that would be great: http://p.cweiske.de/506

if you could also compare it to the bare example gist/repo I made from your report: https://gist.github.com/jacktasia/2ae5fd25cd702ff8718fb4139bf9dbd

[2018-05-28 00:12] #27 closed

[2018-06-01 21:18] qqlearn123 opened #223 "emacs 24.2: dumb-jump-go does not work with error wrong-type-argument"
Hello,

I just installed dumb-jump and tested it. It turns out that there is an error when I try to call dumb-jump-go.

The debugger info is attached as follows:

Debugger entered--Lisp error: (wrong-type-argument stringp dumb-jump-get-config)
  expand-file-name(dumb-jump-get-config "~/test.R")
  locate-dominating-file("/home/test.R" dumb-jump-get-config)
  (or dumb-jump-project (locate-dominating

[2018-06-01 22:07] jacktasia commented on #223
Thanks for the report! Can you include the OS, version of emacs you're using, and some more info about the project you're using with dumb-jump?

It looks like you may have no searcher (grep, ag, rg) installed and you're not using a (git) project. Have you tried using dumb-jump with any other repo/project?

Optionally including debug info could be helpful too http://p.cweiske.de/506

[2018-06-02 03:18] ar1a opened #224 "invalid function helm-build-sync-source"
[code]

Strange, because the function isn't invalid

[2018-06-02 17:22] jacktasia commented on #224
Thanks for the report! A similar thing was reported in #153 can you please check that out and see if it works for you? Also, a fix for helm was just merged in yesterday via #222 so updating dumb-jump too might help.

Please let me know if you continue have problems after trying those things and I will try to dig in more. Thanks!

[2018-06-04 13:49] qqlearn123 commented on #223
@jacktasia Thanks for your response.

The OS version I am using is "Read Hat Enterprise Linux Server release 6.9 (Santiago)".
The emacs version is "GNU Emacs 24.2.1".

The debug info I included in my previous post is pretty detailed, but for completeness, the info from the *mseeage* buffer is as follows:
"locate-dominating-file: Wrong type argument: stringp, dumb-jump-get-config"

The project I te

[2018-06-04 14:09] jacktasia commented on #223
Thanks for the info!

Is probably the issue since, as mentioned in the README, dumb-jump requires at least emacs 24.3. Although it should be giving you a nice warning about this and not be throwing an error like this. So I will dig into why that isn't happening.

Thanks again for the info!

[2018-06-04 15:05] qqlearn123 commented on #223
@jacktasia Thanks, I see.

So, what functionality that is the cause? In other words, what feature is missing from 24.2 that is important for dumb-jump?

Is there a backward compatible version of dumb-jump which supports earlier version like 24.2?

[2018-06-04 23:11] jacktasia commented on #223
I honestly don't know...yet. In fact, 2 years ago someone mentioned it didn't work 24.3 and I got it working. https://github.com/jacktasia/dumb-jump/issues/26 https://github.com/jacktasia/dumb-jump/pull/52

This is the first I've heard about 24.2, but If I can get it working just as easily then I will do it too, but if it takes a lot of work then I _might_ not since 24.2 is 6 years old now and 2 m

[2018-06-05 05:13] ar1a commented on #224
Yeah, I upgraded all my packages and it's still happening.

[2018-06-05 05:15] jacktasia commented on #224
What version of Emacs are you using? What OS?

[2018-06-05 05:19] ar1a commented on #224
26.1, emacs.

My config can be found https://github.com/ar1a/dotfiles/tree/master/emacs/.doom.d which is a private config for https://github.com/hlissner/doom-emacs/tree/develop (note the develop branch)

[2018-06-05 05:59] jacktasia commented on #224
Thanks for the info. I tried using doom-emacs (develop) with a fresh emacs 26.1 and dumb-jump worked as expected. I also tried using doom-emacs (master) with a fresh emacs 26.1 and dumb-jump also worked as expected.

As far as I can tell this is an issue with your configuration and not dumb-jump. If you can provide a link to a diff between your config and doom-emacs/develop default then I can try

[2018-06-05 06:14] ar1a commented on #224
My config isnt an overlap of doom more as an extension. If you grab my config and chuck it in ~/.doom.d, and then go into ~/.emacs.d and run make, you'll have my environment (for the most part).

[2018-06-05 07:48] jacktasia commented on #224
I only went down the rabbit hole for a while but I am pretty sure you're running into this:

https://github.com/emacs-helm/helm/issues/602

Not sure how you're doing things differently than doom-emacs, but it clearly seems like an issue with your personal configuration (vs doom-emacs or dumb-jump)

I am going to close this since it doesn't seem like a bug in dumb-jump. Please re-open if you find o

[2018-06-05 08:11] jacktasia commented on #223
Looks like before emacs 24.3 `locate-dominating-file` did not allow a function for the second argument. It only allowed a string

https://github.com/jacktasia/dumb-jump/blob/master/dumb-jump.el#L1571

No, but I am still considering adding the code to make this work with 24.2 (PRs welcome though). I assume you're stuck with RedHat 6.9 that has this version only? Looks like it will be EOL'd in 2020.

[2018-06-05 11:09] hlissner commented on #224
After some testing, it appears that this is a load-order issue at compile-time. If you install helm _after_ dumb-jump (and  they are byte-compiled in that order by package-install), then `helm-build-sync-source` won't be expanded correctly and is treated as a function.

Would it not make sense to add a compile-time `require` to dumb-jump? e.g.

[code]

[2018-06-06 16:50] jacktasia commented on #224
@hlissner Thanks for looking into this!

Maybe, this seems potentially problematic because helm isn't required for dumb-jump because you could use popup or ivy instead. Surely this problem has been solved before for packages that support either helm or ivy. I will do some more research, but I am very open to any other ideas or PRs. Thanks again!

[2018-09-07 08:27] Yevgnen commented on #18
Just curious, why not make `dumb-jump-mode` *local* minor mode?

[2018-09-07 14:30] Yevgnen commented on #18
@jacktasia Hi, I saw `:global t` where `dumb-jump-mode` is defined. Defining the keybindings via `use-package` is one of the solutions. But since `dumb-jump-mode` is global, it overwrites any other `C-M-g`, `C-M-p` and `C-M-q` defined in other minor modes. For example, I would like to use `dump-jump-mode` in `python-mode`, `C-mode` using the above key bindings, but not in `java-mode`, `lua-mode`.

[2018-10-08 10:22] vmalloc opened #233 "Failing to load dumb-jump-quick-look: autoload failed to define function"
I am using dumb-jump through use-package:
[code]

When I try to trigger it, I get:
[code]

[2018-10-08 17:51] jacktasia commented on #233
@vmalloc Looks like you have a typo. You have `dump-jump-quick-look` and it should be `dumb-jump-quick-look` (`p` -> `b`).

[2018-10-08 17:55] jacktasia commented on #233
Thanks for opening this, btw. This is a really easy typo to make for me (because of DB dumps). I make it often and this just triggered me to check the repo. I had two of these in the readme: https://github.com/jacktasia/dumb-jump/commit/242cc0a14d1c13aef32c3e4653ac60e1aa0832e0

I am going to close this for now, but please re-open if you continue to have issues. Thanks!

[2018-10-08 17:55] #233 closed

[2018-10-08 18:46] vmalloc commented on #233
Doh - I feel so stupid now... Thanks and sorry for the hassle!

[2018-10-24 09:33] vjohansen opened #239 "sorting of results to show references first"
Hi

When there is many results from dump-jump-go the dropdown shows multiple results. These seem to have a "random" ordering (maybe the file structure ordering).

Most of the time you want a definition not a reference so I think the results should be sorted to show references first:
- classes
- functions
- the rest

This could be done the dumb way with regexes.  If you search for xyz then classes

[2018-10-24 17:01] jacktasia commented on #239
Thanks for opening this! In theory I absolutely agree with what you have here and it would be better to have it this way. That said, in practice I very rarely find myself needing to jump to anything that is common enough to have more than a few matches (or actually any). Although I understand this could be more a reflection of the programming language and/or the style of the programmer.

To implem

[2018-10-24 17:03] jacktasia commented on #211
I think #236 will address this.

[2018-10-24 19:04] vjohansen commented on #239
Thanks for the comment. I will use dumb-jump a bit more to see if it is an issue in practice

[2018-10-31 03:05] kschwarz1116 commented on #192
Something else that likely falls into this category is Scala and Scala Play Templates (.scala.html files). Willing to look into making a change if you have a general idea of how to go about it.

[2018-11-27 15:50] VladasZ opened #240 "SystemVerilog jump to `define macro doesn't work."
![image](https://user-images.githubusercontent.com/10122409/49092929-2a9f2100-f274-11e8-8de9-d4d64ac69a1d.png)

It seems like ` symbol before Verilog macro breaks the search.
Verilog macro requires this symbol before usage:
https://www.systemverilog.io/macros
 I think it needs to be somehow ignored in Verilog mode.

[2018-11-27 18:11] jacktasia commented on #240
Thanks for the report! This should be an easy fix. I'll PR it later today.

[2018-11-27 18:31] #240 closed

[2018-11-27 18:32] jacktasia commented on #240
@VladasZ The fix is complete. It might take up to 6 hours before it's available via MELPA. Thanks again for the report!

[2018-11-27 21:34] VladasZ commented on #240
Thank you very much for fast response and fix.

[2018-11-27 22:10] VladasZ commented on #239
In my opinion the sorting feature is a must. In most cases user wants to find function or class definition and the results containing these keywords should be first. I would even consider not just sort, but even hide the results which don't match the regex. That is why in most IDE's this feature called jump to **definition**. I've encountered a problem connected with this issue in my project. I ha

[2018-11-27 22:16] jacktasia commented on #239
@VladasZ Thanks for the report! Seems like it's either:

1. It looks like the variable regex is bad it should only be matching `os =` and not `-sos=`. Try doing `(setq dumb-jump-functions-only t)` and try it again. If it then works as expected please open a new issue for the bad variable regex and I'll fix it.

2 or less likely the regexes are all failing (finding no results) and `dumb-jump-fallba

[2018-11-27 23:09] jacktasia commented on #239
@VladasZ Thanks for the info. I can't reproduce your python issue though. What searcher/version are you using? The c++ issue is definitely real. I think our rules are have too much going on at once. We probably want to break them up more. Please create a new issue for just that if you have a moment. Thanks!

[2018-11-28 13:42] VladasZ commented on #239
@jacktasia melpa is currently down. I will investigate this issue after it is back to normal.

[2018-11-28 19:45] VladasZ commented on #239
@jacktasia
![image](https://user-images.githubusercontent.com/10122409/49176957-12ef9780-f35d-11e8-84b8-70cf4adc473e.png)
The bug occurs only if there is = sign after the sequence + The Silver Searcher is installed. Interesting that after uninstalling The Silver Searcher the bug still persists. I've tested it on macOS and Ubuntu and had the same result.

[2018-11-28 19:54] jacktasia commented on #239
@VladasZ Nice catch! This definitely means there's an issue with the regex itself. This will allow me to fix it pretty easily and add a new `not` test case for this. Thanks!

[2018-11-28 23:54] kubaroth opened #242 "support in tramp mode"
More of a question then an issue. Has anyone tried using dumbjump with a tramp mode? It is locking up the session for a while and does not jump anywhere. My guess it times out while waiting for a connection.

[2018-11-29 00:09] jacktasia commented on #242
I haven't tried for a while, but my understanding is dumb-jump works with tramp mode if you have the correct searcher installed on the remote host. See: #191  https://github.com/jacktasia/dumb-jump/issues/137

[2018-11-29 01:19] kubaroth commented on #242
ok thanks for a quick answer. I will take a another look.

[2018-11-29 01:19] #242 closed

[2018-11-29 01:27] patbl opened #243 "Jumping to namespaced classes doesn't work in Ruby"
In Ruby, the conventional way to namespace a class is to nest it in one or more modules:

[code]

(For the record, there's a less conventional, worse way of writing this code that I don't think Dumb Jump needs to support:

[code]
)

You can then reference the class like this:

* anywhere: `::Health::Checks::QueueGrowth`
* anywhere without a conflicting namespace: `Health::Checks::QueueGrowth`
* in

[2018-11-29 01:37] jacktasia commented on #243
Thanks for the report! I think this should be pretty easy to support. I'll push up something soon.

[2018-11-29 05:43] #243 closed

[2018-11-29 15:07] ssnnoo opened #245 "dumb-jump and fortran"
dumb-jump currently does not work well with fortran files in upper-case, e.g. SUBROUTINE instead of subroutine (always shows all occurrences of the symbole for manual selection).
e.g. (setq dumb-jump-rg-cmd '"rg -i") is a workaround (case insensitive search) but would be nice to include this in a proper way

also  for historic reasons file-endings are often uppercase -> .F90 insetad of .f90, so wo

[2018-11-29 18:48] jacktasia commented on #245
Thanks for the report! I'll try to make a PR soon that implements these ideas.

[2018-12-04 06:01] #245 closed

[2018-12-04 06:04] jacktasia commented on #245
@ssnnoo Thanks again for opening this issue. I made some Fortran changes please give them a try when you have a moment. They should land in MELPA in ~6 hours.

[2018-12-05 15:11] jacktasia commented on #245
@ssnnoo Awesome, thanks for letting me know

[2019-01-15 14:04] sebastianpech opened #249 "quick-look multiple results"
Hi,I don't really understand the behavior of `dumb-jump-quick-look` when multiple matches are found. Currently it shows the results in ivy or helm and then jumps to the selection.
What's the reasoning for not just showing a multiline tooltip?
Especially for languages supporting multiple dispatch this would be really handy as it quickly shows all possible arguments to the function under the cursor.

[2019-01-25 13:43] mhcerri opened #250 "Question: Multi-line patterns with git-grep+ag?"
Hi,

Do you think it would possible to implement a way to first search simply by the symbol name using `git grep` and then use the set of files returned to do an `ag` search with the full pattern?

[2019-01-25 17:07] jacktasia commented on #250
Hi @mhcerri

That's certainly possible, but I don't think it would be a trivial change. Can you provide some details on why you want/need that functionality?

[2019-01-25 23:13] mhcerri commented on #250
I would love to use it on the linux kernel source tree. Multi-line declarations are very common there and anything besides `git grep` is very slow.

I can try to put together a pull request for that. Do you have any suggestions or directions on how to proceed?

[2019-01-25 23:34] jacktasia commented on #250
Gotcha, thanks for the context.

I think so. Let me think about this for a bit and get back to you. It's possible there's a couple of places to hook into that would make this really easy.

[2019-01-26 21:55] teymuri opened #251 "Common Lisp"
Are there any support for Common Lisp or planned to be? By doing `C-A-g` in emacs lisp or common lisp i get after some time:

I am using Emacs 25.1.1 on Debian

[2019-01-27 04:47] jacktasia commented on #251
Emacs Lisp should work, but Common Lisp isn't currently supported. That said, I am guessing we could get pretty good support by just borrowing from the emacs lisp rules. Is there a public Common Lisp project that you think would be a good general example? If so, I can add Common Lisp rules by testing against it.

It looks like your using dumb-jump in a directory without a project denoter. My comme

[2019-01-28 13:07] teymuri commented on #251
I still don't understand what should i do for dumbjump to find the functions (say in elisp). Putting a .dubjump in the home and telling him where not to look for the function under the point should solve it?

[2019-01-28 17:39] jacktasia commented on #251
dumb-jump looks for projects/repos. The reason you're having issues is because you appear to not be in one so it's searching ALL of your home directory which probably has a lot of nested subdirectories.

You need to have a directory that is not your actual home directory and add a `.dumbjump` file and your elisp code and then it should work. If you use something like git this "just works" because

[2019-02-01 13:03] krsoninikhil opened #252 "Question: how to .dumbjumpignore in bulk?"
This in continuation to #103 (#36).
Problem with `.dumbjumpignore` is, I have multiple child git repositories and adding ignore file in each is pain and also clutter for collaborators not using Emacs.

So is it possible to specify directories to ignore in `.dumbjump` itself (may prefixed with !) or just prefer the project root with `.dumbjump` file in it over `.git`?

[2019-02-01 17:22] jacktasia commented on #252
I guess either adding the `.dumpjumpignore` file is worth the payoff or it isn't. You wouldn't be required to actually commit/push your `.dumbjumpignore` and could add it to your `.gitignore` so there would no impact for non-emacs users. I would need to know more about your directory structure, but I am guessing it would be straightforward to just write a script to temporary insert them. I'd be wi

[2019-02-04 03:31] #251 closed

[2019-02-04 07:51] jacktasia commented on #251
@teymuri I added very basic support for Common Lisp. This should now be available via MELPA if you want to give it a try. For now, there's only support for `defun` and `defparameter`, but please let me know if you think it should support anything else. Thanks!

[2019-02-04 08:01] krsoninikhil commented on #252
Overriding the denoters list with `setq` seems great and rewriting config for this might not be a good idea.

[2019-02-04 08:01] #252 closed

[2019-02-04 08:18] jacktasia commented on #250
@mhcerri I apologize for the delay on getting back to you on this. I think I have come up with a pretty good way to hook in the functionality you have suggested. That said, I would like to test it against something real before I concert my bash test into Emacs Lisp. Can you please recommend a good function with a multi-line declaration in the kernel to test against? By "good" I mean whatever crite

[2019-02-04 22:55] teymuri commented on #251
Thank you for your help!  In Elisp doing `C-M-g` jumps to the definition, but doing this in Lisp a drop down list is showed with many possible directories and files having a funtion-variable of the same name too choose from. Is this part of the concept of dumbjump or is it only a thing with Common Lisp?

[2019-02-06 07:30] jacktasia commented on #249
Sorry for the delay in responding. This issue somehow fell through the cracks.

What's the reasoning for not just showing a multiline tooltip?

I honestly don't have a good reason for this. I personally never really used the quick-look feature after I first added it. It's possible this is a bug, and we shouldn't use ivy/helm in this context. Maybe this should be a setting to always force the toolt

[2019-02-06 07:33] jacktasia commented on #251
This sounds like the same project denoter issue as earlier, but I can't say for sure without more info on your directory/repo structure.

[2019-02-06 07:36] jacktasia commented on #250
Thanks for the info! I am going to try to implement and PR this soon.

[2019-02-08 06:59] jacktasia commented on #250
@mhcerri I got something seemingly working well in #254  Can you please try it for your needs and give me any feedback you may have there? Thanks!

[2019-02-08 12:12] mhcerri commented on #250
Hi, @jacktasia.

I tested several symbols and it works perfectly so far. It was able to find multi-line signatures way faster. I also tested it on smaller repos and it works flawless as well, returning immediately.

Thank you a lot!

[2019-02-08 17:09] jacktasia commented on #250
@mhcerri Awesome! Thanks for trying it out. I am going to keep the PR open until I can add some more tests then I'll merge. Please let me know if you run into anything. Thanks!

[2019-02-10 18:13] thisch opened #255 "Ripgrep supports multi-line patterns -> update Readme.md"
The readme file recommends to use "ag" as the searcher if the support for multline signatures is needed.

Since rg [now](https://www.reddit.com/r/rust/comments/9dxewq/ripgrep_0100_released_pcre2_and_multiline_support/) supports multiline pattterns this recommendation should be removed/updated.

[2019-02-10 18:26] jacktasia commented on #255
Thanks!

[2019-02-10 19:33] thisch commented on #255
Thx for this quick update. I'm not sure but I think that we also have to adapt the source code of dumb-jump, since multiline support in ripgrep is enabled with the -U cmd line flag.

[2019-02-11 17:15] jacktasia commented on #255
I think you're right. I am opening this until I get a chance to make and test this change. This should also allow us to support more rules.

[2019-02-11 18:32] twmr opened #257 "Fix byte compiler warnings"
There are a bunch of warnings output by the byte compiler: (using emacs 27.0)

[code]

It would be nice if they could be fixed.

[2019-02-11 18:43] jacktasia commented on #257
Thanks for opening this!

[2019-02-12 03:08] #250 closed

[2019-02-12 17:11] #255 closed

[2019-02-13 06:07] #249 closed

[2019-02-13 07:57] sebastianpech commented on #249
It's working, very nice. Thanks

[2019-02-13 17:18] jacktasia commented on #249
Great, thanks for confirming!

[2019-02-19 20:55] joca-bt opened #262 "Feature: Integration with xref"
Has an integration with `xref` been considered?

[2019-02-19 21:04] jacktasia commented on #262
Thanks for opening this! Other than  https://github.com/jacktasia/dumb-jump/pull/74 it's unclear to me what other kinds of integration there should be. To be honest, in the very little amount of time I've spent looking at `xref` its interface never made much sense to me.

What functionalty are you looking for exactly?

[2019-02-19 21:06] joca-bt commented on #262
Didn't know about #74. The `xref` interface is still experimental and lacks proper documentation.

Just re-using `xref` for going to definition and back. Using its UI and keybindings.

[2019-02-19 21:14] jacktasia commented on #262
Ok, thanks for the info. That's kind of a deal breaker for me doing it myself. If someone wanted to PR optional support for it then it would certainly be welcome.

My understanding is most people like `helm` or `ivy`, but again if someone wanted to add support for an `xref` option for the `defcustom dumb-jump-selector` then it would be welcome.

For keybindings, I am unlikely to add in more built-

[2019-02-19 21:16] jacktasia commented on #262
Ah, I guess you mean by making `dumb-jump` an `xref` backend then you would get everything you're describing. Regardless I am open to PRs for it, but I personally won't add it.

[2019-02-20 20:18] joca-bt commented on #262
I've been looking into this and in fact it doesn't make much sense since `xref` API has:
- `xref-backend-apropos',
- `xref-backend-definitions',
- `xref-backend-identifier-at-point',
- `xref-backend-identifier-completion-table',
- `xref-backend-references'
and `dumb-jump` focus only on xref-backend-identifier-at-point.

I've integrated `dumb-jump` with `xref-backend-identifier-at-point` but I am u

[2019-02-20 20:30] jacktasia commented on #262
Thanks for looking into this. I am also unsure, but i am happy to take a look at what you have to see if you want to PR it or share a link to your branch.

[2019-02-20 20:34] joca-bt commented on #262
I'm currently tackling an improvement. I'm using `dumb-jump-get-results` go get the results but when comparing with what is actually shown when using `dumb-jump-go` there are some differences. Is `dumb-jump-go` making some filtering? Maybe in `dumb-jump-handle-results`? Also what does `:diff` store?

[2019-02-20 20:46] joca-bt commented on #262
I guess `dumb-jump-handle-results` looks at the context type and shows only the relevant entries per that. While `dumb-jump-get-results` returns all text matches. Is this the case?

[2019-02-20 20:57] jacktasia commented on #262
I would think so, but I can take a closer look after work tonight. This probably makes sense to do regardless of `xref`.

[2019-02-21 19:56] jacktasia commented on #262
So I looked into this and it's a little more complex than I thought/was hoping to split this out, but I am still actively looking into and will continue with it again tonight.

[2019-02-21 21:27] joca-bt commented on #262
Thanks! I might have some free time in the weekend to look into it as well.

[2019-02-22 17:47] jacktasia commented on #257
So for the record, I looked into this, and the only ones that will be really easy to fix are the `defcustom` ones, which I'll do pretty soon, but the rest would require changing public methods and/or shared method signature. This is because when the same piece of code makes the call regardless of searcher so the signature needs to stay the same, but each one of those functions doesn't necessarily

[2019-03-02 16:12] jcaw opened #263 "Include Python path modules in search"
Dumb jump is great as a fallback for Python, but it only searches the project - it won't search modules on the Python path. For example:

[code]

Let's say I want to jump to `Thread`, to see how it works. `dumb-jump` won't let me - it will only search the current project.

It seems like this could be fixed with a `.dumbjump` file, but that's clunky. It might be smoother to extract the python path

[2019-03-02 18:52] jcaw commented on #263
I did some experiments and came up with a very hacky bit of code to test the concept, but the amount of new files slows down the search quite a bit.

I think the only way to make this smooth would be to search the project's path (and `.dumbjump` paths) and present the results, then search the python path in the background, updating the results asynchronously. I'm thinking that's probably out of `d

[2019-03-02 20:20] bbuccianti opened #264 "Dart?"
There is too dificult to add support for Dart language?

[2019-03-02 20:53] jacktasia commented on #263
Yeah, to make this always fast that's probably true.

Yes, I definitely agree. That said, doing something like this in the root of a project works well enough for me, but this will be a function of a lot of things including installed packages:

`python -c 'import sys; open(".dumbjump", "w").write("\n".join(["+" + x for x in sys.path if x and not x.endswith(".zip") and not x.endswith(".egg")]))'
`

[2019-03-02 20:55] jacktasia commented on #264
Thanks for opening this.

It should be easy enough. This is just the first request for it. I'll try to look into adding Dart soon.

[2019-03-02 20:59] bbuccianti commented on #264
It would be great to jump to the language source when you want. It have great comments!

[2019-03-03 15:55] jcaw commented on #263
This is nice, thankyou. Good idea, I'll try wrapping it up and putting it in my config.

I like it. I'm using Spacemacs at the moment, which has similar functionality. Tries the contextual jumpers first, then falls back to dumb jump. But the contextual jumpers can be unreliable, especially on Windows, which makes navigating `site-packages` a pain without booting up PyCharm.

[2019-03-03 15:55] #263 closed

[2019-03-05 20:58] DeeeeLAN opened #266 "SV jump to class handle not working"
Hi, amazing plugin. I have the following SV code:

[code]

Only the second and third lines show up in the tooltip for `sal`. I would like to be able to jump to the first line, so I can then jump to the class definition.

[2019-03-05 21:06] jacktasia commented on #266
Thanks!

My first thought is there's not a lot of context on that line and while I could certainly write a regular expression to match it I would be afraid of false positives since I don't know SV very well at all.

I'll take a closer look after work and see if I can get this working without introducing false positives.

[2019-03-05 23:30] DeeeeLAN opened #267 "Request: add an option for enabling --recurse-submodules with git-grep"
Hi, my projects all make heavy use of submodules, but git-grep by default does not search them. Adding a flag would be great, because I do not have the ability to install the other search options.

[2019-03-06 00:16] DeeeeLAN commented on #266
Thanks. It is true that there isn’t a lot of context, but it is basically

[class name] [instance handle declaration];

There will be few (I can’t think of any other) cases in SV that has that short of syntax, except for handle declarations.

Thanks,
Dillan

________________________________
From: Jack Angers <notifications@github.com>
Sent: Tuesday, March 5, 2019 2:06 PM
To: jacktasia/dumb-jump
Cc

[2019-03-06 18:00] jacktasia commented on #267
I merged a change for this. This should be available via MELPA in the next few hours and then you can just add this to your config:

`(setq dumb-jump-git-grep-search-untracked-args " --untracked --recurse-submodules")`

[2019-03-06 18:00] #267 closed

[2019-03-06 19:17] DeeeeLAN commented on #267
Thanks. Is the untracked option required for this to work? And does this allow for any git grep flags?

[2019-03-06 19:40] jacktasia commented on #267
So `dumb-jump-git-grep-search-untracked` has to be `t`, but then you can do whatever you want inside of `dumb-jump-git-grep-search-untracked-args` so you can actually drop `--untracked` and/or add more arguments. Just make sure it starts with a space.

[2019-03-06 19:42] DeeeeLAN commented on #267
Awesome, thanks.

[2019-03-06 23:19] DeeeeLAN opened #269 "make PCRE2 optional for rg"
Hi again :)

I did end up getting ag and rg installed after all (one of my subdirectories isn't actually a git submodule, just a symlink, so git-grep doesn't work for it).

I discovered that my version of rg does not have PCRE2 support compiled into it. Can you make that one optional?

An option to set the flags for ag and rg to anything would be great as well.

I guess ripgrep allows for config f

[2019-03-06 23:25] DeeeeLAN commented on #269
An option to set the flags for ag and rg to anything would be great as well.

[2019-03-06 23:45] DeeeeLAN commented on #269
I guess ripgrep allows for config files, so I can override the options myself. Not as clean though.

[2019-03-07 05:11] #266 closed

[2019-03-07 21:08] DeeeeLAN commented on #269
Implemented in #271

[2019-03-07 21:08] #269 closed

[2019-03-13 19:01] joca-bt commented on #262
I was able to extract the filtering to another function and clean-up the code, which was a bit confusing, but still need to integrate it with `dumb-jump-handle-results`. Should create a PR soon.

[2019-03-13 19:31] hajovonta opened #274 "Support for Groovy"
Hi,
great package! Are there plans to support for Groovy files? I have plenty of them!
Thanks,
hajo

[2019-03-13 20:07] jacktasia commented on #274
Howdy, thanks for opening this. So dumb-jump should have basic support for groovy. What file extension are you using? What happens when you try to jump in a groovy file?

[2019-03-19 12:19] EskoJTH opened #275 "Is there a way to automatically ignore backup files?"
Emacs by default creates a ~ file and # file. Is there a way to skip the results from those? I don't need every result showing trice. I would like to also prevent some log files from showing. But I also would wish to not have to make this edit to every individual file. What kind of solutions do you others use for this?

[2019-03-19 16:42] jacktasia commented on #275
I personally turn off the emacs backups with this: `(setq make-backup-files nil)`. Another solution would be to configure the backups to go to a different directory instead of within the project itself, which you can read more about here: https://stackoverflow.com/questions/151945/how-do-i-control-how-emacs-makes-backup-files

[2019-03-20 17:10] fnzen opened #276 "Broken for Javascript/React using ripgrep backend"
I'm using dumb-jump since more than a year for Javascript/React. Since some days (unfortunately I don't know the exact point in time) it stopped working.

For example on this file/line: https://github.com/spences10/react-tic-tac-toe/blob/master/src/components/App.js#L135

Jumping to the `jumpTo` class method is not working any more, the error message given in Emacs is:

[code]

My configuration fo

[2019-03-20 17:17] jacktasia commented on #276
Thanks for the report! Can you please tell me your version of `rg` (`rg --version`)?

[2019-03-20 17:20] fnzen commented on #276
ripgrep 0.9.0
-SIMD -AVX

I'm on Fedora 29.

[2019-03-20 17:28] jacktasia commented on #276
Thanks for the info. Can you update to ripgrep 0.10 and also update dumb-jump if you haven't recently? Relatively recently I made a change to enforce that as a min version because they made a bunch of changes (particularly around multi-line matching)

[2019-03-21 09:17] fnzen commented on #276
I compiled ripgrep from source:

ripgrep 0.10.0 (rev 0913972104)
-SIMD -AVX (compiled)
+SIMD +AVX (runtime)

Unfortunately I still get the same error message. When I comment the line containing `dumb-jump-force-searcher` then dumb-jump works.

[2019-03-21 16:59] jacktasia commented on #276
Thanks for the update. I cloned the https://github.com/spences10/react-tic-tac-toe repo and tried to jump to `jumpTo` and it worked as expected for me with the most recent dumb-jump and `rg` (Emacs 26.1 on Ubuntu 18.04)

Can you please try turning on debugging as described [here](https://github.com/jacktasia/dumb-jump/blob/59f91b408f6228be035ece10a79b5d460430116a/README.md#debugging-a-jump) and sh

[2019-03-21 20:21] fnzen commented on #276
The problem was the missing PCRE2 support in my ripgrep 0.10.0 build.
I compiled it with `cargo build --release --features 'pcre2'` and then jumping worked.
Thanks for your support and for writing dumb-jump, it works really well even with complicated javascript code.

For completeness, here is the debug output for the two ripgrep versions:

[code]

[2019-03-21 20:21] #276 closed

[2019-03-21 20:37] jacktasia commented on #276
I compiled it with cargo build --release --features 'pcre2' and then jumping worked.

Thanks for the update and providing the debug information! I am glad you got it working again.I will look into updating dumb-jump to surface exact searcher errors instead of swallowing them as a "no results" message.

I am always happy to help. Thanks for the kind words.

[2019-03-26 13:03] bbuccianti commented on #264
Can I help you in any way?

[2019-03-26 21:02] joca-bt commented on #262
See #277.

[2019-03-27 17:27] #264 closed

[2019-03-27 17:28] jacktasia commented on #264
Sure, I merged a PR to add very basic Dart support that worked fine for me. If you can test it now or when it reaches MELPA in a few hours then that would be great. Thanks!

[2019-03-27 20:51] bbuccianti commented on #264
Seems like it's function very well!! Thank you!

There is a way to enable the jump to the Dart code as well?

Suppose that I'm using a function Blabla() that is implemented in Dart source code. Ideally I can dumb-jump-go on Blabla() and it takes me to the Dart source code definition.

Again, thanks for this great package.

[2019-03-28 06:29] jacktasia commented on #264
Great, thanks for letting me know!

If you're using `ag` or `rg` you can add a `.dumbjump` file to your project root can add other paths to include/exclude in the search.

For example, to add dart's code you would do something like this:

update your emacs confg:

[code]

and then run something like the following:

[code]

[more details](https://github.com/jacktasia/dumb-jump#example-dumbjump)

[2019-04-08 15:18] eli-rodriguezperez opened #279 "dumb-jump not working on Windows"
For work related policies I have to use windows at my development machine, I normally use ctags but tag management is so annoying so I'm trying to use dumb-jump. It does not seem to work as it throws `whateverVariable javascript variable declaration not found.`. I have all rg ag and git-grep in my PATH and the commands do work on their own, also using their emacs integration packages.

Also I can'

[2019-04-08 16:45] jacktasia commented on #279
Thanks for opening this. As far as I remember it should work on Windows. Try explicitly setting your searcher to `ag`: `(setq dumb-jump-force-searcher 'ag)` and if that still doesn't work try [turning on debugging](https://github.com/jacktasia/dumb-jump#debugging-a-jump) and sharing the results from the `*Messages*` buffer here.

[2019-04-09 06:41] eli-rodriguezperez commented on #279
Hi, just tried, this is the output of the command. I have a feeling it has to do with the path. Forgot to say I'm using msys2 and their emacs package on 26.1.

-----
DUMB JUMP DEBUG ‘dumb-jump-run-command‘ START
-----

cmd:
	ag --nocolor --nogroup --js --html --css --ignore-dir node_modules --ignore-dir dist --ignore-dir bower_components \(service\|factory\)\\\(\[\'\"\]getCuenta\[\'\"\]\|\\bgetCue

[2019-04-11 17:19] tastytea opened #280 "Unpleasant appearance with fci-mode and/or whitespace-mode"
When fci-mode is active, the last entry in the pop-menu is out of place:
![screenshot_2019-04-11T19:09:31](https://user-images.githubusercontent.com/3681516/55977011-10e40080-5c8e-11e9-9b56-e50752eee6a1.png)

When whitespace-mode is active, the pop-menu is full of dots:
![screenshot_2019-04-11T19:10:13](https://user-images.githubusercontent.com/3681516/55977126-4be63400-5c8e-11e9-8028-87504a9d939f

[2019-04-11 19:13] jacktasia commented on #280
Thanks for opening this. I am aware of this issue, but I think it's relatively uncommon because most people end up instead using `helm` or `ivy` via `dumb-jump-selector`.

I am considering either implementing your proposal or dropping popup-el entirely since I realize now that popup-el it has been archived/deprecated created by its owner and this seems to be a bug in popup-el and I'd rather not fi

[2019-04-11 19:15] jacktasia commented on #279
Thanks for the debug info. I finally got a chance to try this in a Windows 10 VM and I can't reproduce. FWIW, I tried both Emacs 25.3 and Emacs 26.1 from the offical server and installed `ag` via scoop: https://github.com/lukesampson/scoop and everything seems to be working correctly. What version of Windows are you running?

[2019-04-11 19:17] eli-rodriguezperez commented on #279
Sure, I'm using windows 7 at work.

[2019-04-11 19:53] tastytea commented on #280
Ah, I didn't realize the popups were from another package. Turns out, the [issue was already reported there](https://github.com/auto-complete/popup-el/issues/103) and a workaround is described on [stackexchange](http://emacs.stackexchange.com/questions/147/how-can-i-get-a-ruler-at-column-80/155#155).

[2019-04-11 19:59] jacktasia commented on #280
Cool, thanks for the fast response and finding -- and linking to -- those. It should help future people. Did the workaround work as expected for you?

[2019-04-11 21:02] tastytea commented on #280
Yes, it works well. I ended up shortening it a bit to:
[code]
and for whitespace-mode:
[code]

[2019-06-04 11:27] xuchunyang commented on #224
I encounter the same issue today when making my own package, @hlissner's analysis is correct, the byte compiled code should not contain macros otherwise Emacs will emit an Invalid function error, so I think we cam simply drop `helm-build-sync-source` and switch to `helm-make-source`, the macro is simple anyway:

[code]

[2019-06-27 21:46] iamdavidhart opened #281 "dumb-jump objc: support objc types in addition to methods and variables"
Additional ObjC types such as:

@interface & and category declarations
@protocol declarations
@implementation definitions
enum / NS_ENUM / NS_OPTIONS

examples:

From UIKit/UIView.h:

* Interface declaration (including protocol adherence):
NS_CLASS_AVAILABLE_IOS(2_0) @interface UIView : UIResponder <NSCoding, UIAppearance, UIAppearanceContainer, UIDynamicItem, UITraitEnvironment, UICoordinateSpace

[2019-07-08 09:06] nerton opened #282 "Dumb jump slow lookup if not used for a while"
Dumb jump usually works nicely, but I noticed it is very slow to look up things if not used for a while. It takes several seconds for it to get a result then it's quick again.

I'm trying it on Windows with ripgrep, so at first I thought it is because the source files were ejected from the memory cache  and Windows is slow to read the files again from disk.

But then I turned on dumb jump debuggin

[2019-07-08 14:30] jacktasia commented on #282
No, at least not on the dumb-jump side. It's possible the searcher you're using does, but that would be news to me. For the most part speed should be a function of the size of project it's searching. Was all this testing on the same project?

[2019-07-08 16:15] nerton commented on #282
Yes, same project. I copied the command line printed by dumb jump's debug, so it was the same project, same command line, same search tool (ripgrep), everything.

The only difference is that it was invoked via emacs with dumb jump. I'l try to profile the dumb jump call, to see which part takes seconds.

[2019-07-08 17:13] jacktasia commented on #282
Gotcha, I suppose it's possible that in some cases the response from  ipgrep is so large it's taking a non-trivial time to parse and/or it's getting blocked by something else in your emacs since it's single-threaded.

[2019-07-08 18:31] nerton commented on #282
The response from ripgrep is a single line. I see you use  shell-command-to-string . I copied the same search command line which dumb-jump-debug prints and invoked it with shell-command-to-string directly and it took 3-4 seconds to return that a single line. The same command started from a windows command prompt returns instantly.

So it looks like shell-command-to-string is the problem. I heard i

[2019-07-08 19:01] jacktasia commented on #282
Thanks for looking into this! FWIW, I feel like I've never had this problem on linux. I'll close this issue for now, but please re-open it or create another issue if you see anything else strange. Thanks!

[2019-07-08 19:01] #282 closed

[2019-07-10 09:26] nerton commented on #282
Just a heads up if somebody comes around with the same problem later. It was becasuse of WIndows Defender. That slowed down ripgrep when called via Emacs. Disabling Windows Defender for the project directory or for the ripgrep process makes the delay go away.

[2019-07-10 19:07] jacktasia commented on #282
@nerton Wow, very interesting. Thanks so much for coming back and closing the loop on this.

[2019-08-30 02:30] vicwer opened #286 "Minibuffer window is not active"
You can run the command ‘dumb-jump-go’ with C-M-g
Took over 2s to find ’split’. Please install ag or rg, or add a .dumbjump file to ’/home/user’ with path exclusions
user-error: Minibuffer window is not active
emacs-25, how to use it, pls?

[2019-08-30 04:41] jacktasia commented on #286
@vicwer Sounds like you're trying to jump in an undefined project. Usually, it will automatically find the project root by looking for [one of these files](https://github.com/jacktasia/dumb-jump/blob/master/dumb-jump.el#L1450) since most projects use version control like git this is rarely a problem. In your case, it's probably defaulting to your home directory, which probably has too much stuff t

[2019-08-30 04:56] vicwer commented on #286
@jacktasia Hello, I add an empty ```.dumpjump``` in my project, it's worked!
That's awesome~~~Thank you very much !!!

[2019-08-30 05:02] jacktasia commented on #286
Happy to hear you got it working. Thanks for letting me know.

[2019-08-30 05:02] #286 closed

[2019-09-05 16:53] proudot opened #288 "Matlab Support ?"
Hi there,
I love the idea of Dumb-Jump, Matlab compatibility is the only thing preventing me to use emacs for coding in Matlab. I currently use Sublime Text which is impressive when it comes to finding function AND methods, even if the methods as multiple implementation. I feel like Dumb-Jump has the capacities to do it, but it does not find definition for now.

I am happy to help in testing/imple

[2019-09-05 16:55] jacktasia commented on #288
Thanks for opening this! I'll take a closer look at Matlab after work, but it should be pretty easier for me to add at least basic support for Matlab.

[2019-09-06 06:35] jacktasia commented on #288
Looking at https://www.mathworks.com/help/matlab/ref/function.html it's pretty easy for me to support matlab. One small issue is that `m` is the file extension for matlab and it's also used for Objective-C. Since this is the first time there's been a conflict on file extensions I have to refactor the auto language detection part a bit.

[2019-09-07 05:11] jacktasia commented on #288
I added basic support in #289 based on https://www.mathworks.com/help/matlab/ref/function.html. The change should be available via MELPA within 12 hours. Please let me know if you have any more suggestions.

[2019-09-07 05:11] #288 closed

[2019-09-07 15:30] proudot commented on #288
Hi Jack, thanks a ton, I will test it ASAP (away from emacs atm).

On Sat, Sep 7, 2019 at 12:11 AM Jack Angers <notifications@github.com>
wrote:

[2019-09-09 19:25] proudot commented on #288
It works great, thank you so much ! This is life changing. Thanks for being so quick as well, truly amazing!

[2019-09-09 20:08] jacktasia commented on #288
@proudot  Awesome, thanks for letting me know!

[2019-09-17 11:24] DamienCassou opened #293 "Reuse existing ignore files"
My project already have .gitignore and .ignore files. Could dumb-jump reuse those?

[2019-09-17 12:08] DamienCassou opened #294 "Choice of the defautl searcher"
I've just started using dumb-jump and noticed it was quite slow on my fairly large JS project versioned with Git. Here is a benchmark of `M-1 0 M-x benchmark RET (dumb-jump-fetch-file-results)` for each configuration of `dumb-jump-force-searcher`:

Configuration | Result of `benchmark`
-----|-----
 Default           | Elapsed time: 7.920351s                       |
 force rg          | Elapsed tim

[2019-09-17 12:16] DamienCassou opened #295 "Problem with cl-defmethod"
On my libmpdel project, I have [some code](https://gitlab.petton.fr/mpdel/libmpdel/blob/v1.1.0/libmpdel.el#L242) that looks like this:

[code]

If my point is on the `libmpdel-album` symbol and I call `dumb-jump-go`, the [first result item](https://gitlab.petton.fr/mpdel/libmpdel/blob/v1.1.0/libmpdel.el#L217) is:

[code]

This method is not a valid result candidate for the search.

[2019-09-17 15:17] jacktasia commented on #295
There is no rule for `cl-defmethod` so it looks like you're just getting the `dumb-jump-fallback-search` functionality, which by default is on and will effectively just search for the string under  point.

[2019-09-17 15:19] jacktasia commented on #294
Thanks for the benchmarks. Any chance it's searching `node_modules` or some other large directory that can be skipped? Also, can you tell me more about this project?  Like, how many javascript files are in or anything else potentially notable.

[2019-09-17 15:21] jacktasia commented on #293
This should be builtin to the searchers themselves. My understanding is that `git-grep`, `ag`, and `ripgrep` provide this functionality by default. If you're seeing something different can you please provide an example?

[2019-09-18 04:26] #281 closed

[2019-09-18 04:28] jacktasia commented on #281
Sorry for the delay in getting this added. Should be available via MELPA within the next few hours. Please let me know if you have any feedback. Thanks!

[2019-09-18 04:42] #275 closed

[2019-09-18 04:55] jacktasia commented on #274
I am going to close this, but please let me know if you have feedback for the groovy support.

[2019-09-18 04:55] #274 closed

[2019-09-18 09:54] DamienCassou commented on #293
Maybe the documentation could have a line or two about this? I'm closing for now and will reopen if I have more to say. Thank you for your answer.

[2019-09-18 09:54] #293 closed

[2019-09-19 08:08] DamienCassou commented on #294
what are you talking about with "it"? `git-grep` is hopefully not searching in `node_modules/` because it's not tracked.

The project is both C# (around 2000 files) and JavaScript (around 1300 files). We are talking about at least 200,00 lines of code. There is a .gitignore catching everything we don't commit and a .ignore file.

[2019-09-19 15:22] jacktasia commented on #294
Thanks for the response.

So is it ignored or just not tracked? Sorry, this should be documented better, but `dumb-jump-git-grep-search-untracked` defaults to `t`. This is mainly for if you create a new file with a function and want to jump to it I want it to "just work" without you having to first add/commit the file. In other words, I don't want the user to have to know the implementation detail

[2019-10-02 19:44] Pfedj opened #301 "Dumb-jump with preview choices in helm on C-j doesn't work"
From [115](https://github.com/jacktasia/dumb-jump/pull/115#partial-pull-merging).
It doesn't work as it described for some reasons. With eval:
1.```helm-M-x```
2.```C-j```
embedding function from ```helm``` is called.
My init file:
[code]
For what reasons it doesn't work?

helm-20191002.1340
dumb-jump-20190804.533
emacs 27.0.50

[2019-10-02 19:54] jacktasia commented on #301
Does it just do nothing or is there any error/message shown?

I don't really understand what you're describing here. It seems like you're potentially not getting into helm via `dumb-jump-go` result. Can you please expand on the exact steps you're taking?

This very well might be the reason since emacs 27 is not officially out yet.

[2019-10-08 11:15] avatar-lavventura opened #302 "Error: https://stable.melpa.org/packages/dash-2.13.0.el: Not found"
When I try to install the package I am getting the following error:

`https://stable.melpa.org/packages/dash-2.13.0.el: Not found`

**[Q]** How could I fix this error?

[2019-10-08 14:13] Pfedj commented on #301
I made call ```dumb-jump-go-prompt``` in a wrong way. I try to call this function for the list from ```helm-M-x```. Now I call it a right way:
1.  ```M-x``` ```dumb-jump-go-promt```
2.  ```C-j``` to call list  of all the functions.

It works, the list of all the functions are shown, now in repeated press ```C-j``` temporary buffer opens with the location of the defenition of the function. My probl

[2019-10-08 15:22] jacktasia commented on #302
It sounds like your package list might be out of date. Try running `(package-list-packages)`

[2019-10-09 11:02] avatar-lavventura commented on #302
Which also generates the following error:

[code]

[2019-10-09 14:18] jacktasia commented on #302
https://stackoverflow.com/questions/58202993/emacs-failed-to-verify-signature-archive-contents-sig

[2019-10-10 05:21] #302 closed

[2019-10-10 18:32] dsedivec opened #303 "Suggestion: Warn when ripgrep is missing PCRE"
Steps to reproduce:

1. Foolishly build ripgrep without libpcre.
2. Try to `dumb-jump-go` in a C file (like Emacs's `src/keyboard.c`).

Expected results: Preferably go to the definition of whatever is under point, or at least tell me to change `dumb-jump-rg-search-args` or get a better ripgrep build.

Observed results: E.g. `’kset_echo_prompt’ c++  declaration not found.`  No hint that it's failin

[2019-10-10 18:42] jacktasia commented on #303
Thanks for opening this! I appreciate the suggestion and all the background work you did here. I'll try to take a closer look and implement something like what you're describing sometime soon.

[2019-10-17 22:37] braintacos opened #305 "Incorrect behaviour when dumb-jump is run in a narrowed region"
**How to reproduce**:
1. Have a source file where some function `A()` calls another function `B()` for example. I was working on a Python source file that had both `A()` and `B()` defined and invoked in the same file.
1. Do a `narrow-to-defun` or `narrow-to-region` on `A()`, but do not include the `B()` defun in the narrowed region.
1. Go to the line where `B()` is called inside of `A()` and do a

[2019-10-17 22:51] jacktasia commented on #305
Thanks for opening this! I honestly had never heard of `narrow`ing in emacs before, but it looks like `buffer-narrowed-p` should make this pretty easy for me to support.

[2019-10-17 22:58] illusoryhat commented on #305
Thanks for the awesome work and the prompt response! I'm a big fan/user.

Yeah I routinely use `narrow-to-defun`, `narrow-to-region` (and also `org-narrow-to-subtree` for org files) whether it's to just focus on one part of a file to work on, replacing variables scoped to a defun with `iedit-mode` (although iedit can be slow for large files).

[2019-10-17 22:59] braintacos commented on #305
Thanks for the awesome work and the prompt response! I'm a big fan/user.

Yeah I routinely use narrow-to-defun, narrow-to-region (and also org-narrow-to-subtree for org files) whether it's to just focus on one part of a file to work on, replacing variables scoped to a defun with iedit-mode (although iedit can be slow for large files).

[2019-10-17 23:01] jacktasia commented on #305
Thanks for the kind words. I am definitely going to start experimenting with `narrow`ing now. I'll try to add support for this as soon as I can.

[2019-10-29 11:29] avatar-lavventura opened #306 "Support for Solidity Language"
Is there any way to add a support for the [Solidity](https://solidity.readthedocs.io/en/v0.5.12/) Language. It is pretty similiart to the java-script.

[2019-10-30 09:03] asn-d6 commented on #53
Hello! Is this implemented in #69?

I would like this feature because I currently do it with grep or cscope and they both suck!

If this is implemented in #69, what's the interactive function to try this out? And if it's implemented, why is this issue open? If it's lack of testing, I can test!

Thansk! :)

[2019-11-13 05:03] #211 closed

[2019-11-24 12:03] asn-d6 opened #310 "dumb-jump-go not helpful for C (way too many results)"
Hello there,

I started using dumb-jump a few weeks ago over my old cscope/etags setup. I really like the no-setup approach, but `dumb-jump-go` basically never works as intended in my C projects.

In particular when I do `dumb-jump-go` over a function, it just gives me a tooltip that includes all the definitions, prototypes and references of the function (even references inside comments). It's alm

[2019-11-26 14:40] mitchellroe opened #311 "Before moving to function definition, push the mark?"
I've noticed that when using `dumb-jump-go`, I can't just pop the mark and get back to where I called `dumb-jump-go`.  I think it would be really useful to add the current location to the mark stack before moving to the function definition so one can easily get back to their last position with `C-u C-SPC` (or `set-mark-command` with the prefix argument).

[2019-11-28 03:40] espenfl opened #313 "Could not find rules for .F files"
I have been using hotkeys when working in Python and that is convenient. From time to time I also do Fortran and found this plugin. Thanks for the work preparing this.

However, when I try this on a git repo'ed Fortran code I get:

`Could not find rules for ’.F file’`

By enabling the debugging I can see that `git grep` returns what it finds. After that it just ends with

`DUMB JUMP DEBUG ‘dumb-ju